[2013-11-05 14:17] robertklep opened #1 ""Remove quotes at this level and deeper" broken"
When this option is active, all quoted contents is removed, no matter at which level.

[2013-11-05 14:45] #1 closed, assigned to robertklep

[2013-11-07 18:08] rasky opened #2 "Version for Mavericks doesn't start?"
Hi, I'm trying the latest Mavericks beta3, but the plugin won't load: Mail says that it's not compatible with version 7.0.

Isn't that beta supposed to work with Mavericks?

[2013-11-07 19:14] #2 closed, assigned to nobody

[2013-11-07 21:21] glgray opened #3 "Mavericks Mail update breaks all recent betas"
The Mail update Apple just released for Mavericks breaks up through beta 4 of the Mavericks release of QuoteFix.

[2013-11-07 21:32] #3 closed, assigned to nobody

[2013-12-03 04:29] jlkane opened #4 "Not Top Posting"
I'm a longtime user of QuoteFix on an older MBP under Snow Leopard.

Now I'm using a brand new MBP with Mavericks (yay!) and just installed QuoteFix.  The installation went smoothly and I can tell that it's (almost) working because QF properly strips the extra blank line between the attribution and the quoted text, but QF fails to move the attribution and quoted text to the top!  (Rats!)

Any sugg

[2013-12-03 17:41] #4 closed, assigned to nobody

[2013-12-11 00:06] DaveB91 opened #5 "Signature Appears Above"
Hey Guys,

There is probably an easy way to resolve this, I'm just not sure.
When I have composed an email and the select my signature, my signature appears above my composed email. Is there a way to make this operate in the expected manner?

Cheers,
Dave

[2013-12-17 06:31] tak4ya opened #6 "Doesn't Work on 10.9.1"
Mail on 10.9.1 doesn't start with self-built QuoteFix.mailbundle. I followed the instruction on this site and built it. QuoteFix for Mac v2.5.0 also doesn't work on 10.9.1. What should I do?

[2013-12-17 06:53] #6 closed, assigned to nobody

[2014-01-02 15:25] behemotkot opened #7 "Clipboard, QuteFix, InDesign 5.5. Maverics."
1/ I can't copy text from mail to InDesign CS 5.5.
2/ If I paste it to TextEdit, I can paste it to InDesign after changing to text only version inTextEdit (Command+Shift+T).

[2014-01-31 21:35] TimInBC opened #8 "Am I doing it wrong?"
Downloaded fresh version, enabled via Terminal, mail prefs say it's enabled ... and when I reply to a note nothing is different. With or without text selected; original note rich text or not. I get a reply note with just my signature. Nothing's quoted.

Quotefix prefs all at default.

Checked system.log in console; using Mail doesn't trigger anything.

Mail 7.1 on OS X 10.9.1

[2014-03-25 18:47] mpnorman opened #9 "Installation issue"
After installing the plugin I get: Mail quit unexpectedly while using the _objc.so plug-in.

What is the solution?

[2014-03-25 21:06] NateJC opened #10 "Feature Request: Inline comment formatting"
I frequently reply to a long e-mail and add my responses after each paragraph or bullet point throughout their original e-mail. I like to format my responses like this:

I also like formatting each of my responses to be the same (currently unused) color. This makes it much easier to follow & track everyone's responses in a long chain e-mail.

It would be great if QuoteFix added a single toolbar bu

[2014-04-09 15:45] july1962 opened #11 "Doesn't seem to work after installation"
Here's the window from console, it's meaningless to me:

Apr  9 08:31:33 Eric-Andrists-Mac-Pro [0x0-0x32e32e].com.apple.mail[11157]:   File "/Users/easy_street/Library/Mail/Bundles/QuoteFix.mailbundle/Contents/Resources/**boot**.py", line 41, in <module>
Apr  9 08:31:33 Eric-Andrists-Mac-Pro [0x0-0x32e32e].com.apple.mail[11157]:   File "/Users/easy_street/Library/Mail/Bundles/QuoteFix.mailbundle/C

[2014-04-09 17:15] #10 closed, assigned to nobody

[2014-04-10 02:09] lbstoller opened #12 "Building from source, code signature"
Hi. I built from current git source and tried to use it. This worked for me on Mountain Lion, but on Mavericks Mail crashes with a code signature exception. Do you know of a workaround for this? Thanks!

[2014-05-09 22:06] mrtoner opened #13 "Send Again Attribution Not Working"
Custom attribution for Replying and Forwarding is working, but not for Send Again. This could be a result of an interaction with another plugin (I love them!), so I wonder if you've seen anything like this? For a while I couldn't use QuoteFix with Daylite Mail Assistant and MailHub, but an update from one or both of those solved the DMA-induced coma Mail would go into.

[2014-05-09 22:18] mrtoner opened #14 "Put signature at top when top posting"
When I do choose to top post, I want to see this in the outgoing message:

My response
My signature
The quoted text

I can get that by 1) using the option key to override QuoteFix and 2) enabling **Place signature above quoted text** in Mail. However, that Mail option means that _everything_ top posts, instead of allowing me to use QuoteFix to bottom post like this:

The quoted text
My response
My

[2014-05-10 09:37] #14 closed, assigned to nobody

[2014-05-16 00:34] bartelt opened #15 "Doesn't work with 10.9.3"

[2014-05-16 14:33] #15 closed, assigned to nobody

[2014-05-30 21:48] janlimpens opened #16 "${message.sent.strftime("%d-%m-%Y")} prints out "${message.sent.strftime("%d-%m-%Y")}""
In 2.54, replying, but I think same goes for other uses

[2014-05-31 17:13] #16 closed, assigned to nobody

[2014-06-27 11:16] robertklep opened #17 "Forwarding multiple messages throws exception"

[2014-06-29 09:56] #17 closed, assigned to nobody

[2014-06-29 10:34] #13 closed, assigned to nobody

[2014-07-01 17:30] #12 closed, assigned to nobody

[2014-07-01 17:31] #11 closed, assigned to nobody

[2014-07-01 17:31] #9 closed, assigned to nobody

[2014-07-01 17:31] #8 closed, assigned to nobody

[2014-07-01 17:31] #7 closed, assigned to nobody

[2014-07-01 17:31] #5 closed, assigned to nobody

[2014-07-25 05:54] robertklep opened #19 "talon integration"
See if [talon](https://github.com/mailgun/talon) is useful.

[2014-08-06 19:12] glushchenko opened #20 "OS X 10.10 support?"
Not working at this moment :(

[2014-09-01 08:25] koanbf opened #21 "Quotefix fails on long sender name"
quote fix fails if name in "from" mail header is longer than 40 character

[2014-09-09 09:50] #21 closed, assigned to nobody

[2014-10-01 02:52] ykhemka opened #22 "OS Yosemite Beta 4"
Hi,

I have downloaded 2.6, but the same is not working with the latest release of Yosemite Beta 4. Please provide an update.

[2014-10-17 16:49] saaby opened #23 "Quote level 1 for attribution"
After I upgraded to 2.6.0-alpha.5, on Yosemite, the quote level for my attribution is now stuck at "1" instead of being "0" like before.

I have checked with both standard and custom attributions, both will stay at level "1" even though the "Increase quote level for custom reply attribution" setting is disabled.

[2014-10-18 06:56] robertklep opened #24 "Opening preferences causes crash"
Stacktraces:

[code]

And:

[code]

Reported by @glushchenko and @jklundell.

[2014-10-18 15:14] mrtoner opened #25 "Send Again Attribution Kicking In for Drafts"
If I have a draft message window open and I quit Mail, my custom attribution for Send Again is added to the draft when Mail is relaunched. Using 2.5.6 (I'm not being notified of 2.5.7).

![screenshot_of_mail](https://cloud.githubusercontent.com/assets/1012776/4690096/43df8cda-56d9-11e4-85fd-ae121b93030e.png)

[2014-10-20 10:26] robertklep opened #26 "Cursor set incorrectly in 2.6.0-alpha.7"
After quotefixing, the cursor is set one line too high (right inside the quoted message). Introduced by 2.6.0-alpha.7.

[2014-10-21 03:49] mrtoner opened #27 "We've Moved!"
"For more information about this plug-in, please refer to its Google Code homepage at
http://code.google.com/p/quotefixformac"

QuoteFix's About pane could be updated to refer to GitHub.

[2014-10-21 09:21] #25 closed, assigned to nobody

[2014-10-21 09:21] #27 closed, assigned to nobody

[2014-10-21 09:23] #22 closed, assigned to nobody

[2014-10-21 09:23] #20 closed, assigned to nobody

[2014-10-21 09:23] #23 closed, assigned to nobody

[2014-11-03 11:50] koanbf opened #28 "Custom Attribution ${message.from} trailing whitespace in 2.6.0-beta1"
${message.from} contains trailing whitespace

[2014-11-04 16:23] gravesit opened #29 "Preference panel stopped opening after installing"
Tried installing v2.6.0-beta.1 and v2.6.0-alpha.7, both show that quote fix is enabled from the Mail dropdown menu. The problem is that the preference panel no longer works after installation. This is with a fresh installation of Yosemite.

[2014-11-04 16:37] #29 closed, assigned to nobody

[2014-11-05 22:16] jklundell opened #30 "new sig variant"
-- <br />

(no trailing whitespace, as it happens)

This is delimiting a Google Groups sig, so is probably worth handling by default.

[2014-11-06 08:48] robertklep opened #31 "Mail crashes when trying to change custom signature match"

[2014-11-06 16:03] jklundell opened #32 "sig separator false positive"
The -- in this message is treated as a sig separator, and should not be:

[code]

[2014-11-06 19:33] #24 closed, assigned to robertklep

[2014-11-07 05:36] wuchtbrumme opened #33 "Mail.app properties don't come up"
After Yosemite upgrade, quotefixformac went into the "incompatible software" folder. I had to install the newest version from here (thanks a lot for that!). With 2.6.0-beta.1 Quotefix.mailbundle in the Bundle directory, the Mail.app properties don't show up anymore. It does not matter if you disable it, you have to move it out of the Bundle folder to make the properties show up again.

[2014-11-07 07:12] #33 closed, assigned to nobody

[2014-11-07 09:13] #31 closed, assigned to robertklep

[2014-11-08 06:43] robertklep opened #34 "Support for Yosemite 10.10.1"

[2014-11-11 07:51] #30 closed, assigned to nobody

[2014-11-13 07:57] toszcze opened #35 "${message.sent.strftime} adds minutes at the end of its output"
${message.sent.strftime("%Y-%m-%d %H:%M (O)")}

prints:

2014-11-13 02:35 (GMT+1)35

instead of:

2014-11-13 02:35 (GMT+1)

The same problem with ${message.sent.format("YYYY-MM-dd HH:mm (O)")}.

The number added at the end of the output is always the number of minutes.

OS X Yosemite, Mail 8.0 (1990.1)
QuoteFix 2.6.0-beta.4

[2014-11-13 11:17] #35 closed, assigned to nobody

[2014-11-14 19:54] cleeland opened #36 "is quotefix 2.6.0-beta3 supposed to "just work" on 10.10?"
I've never used quotefix before, so this is probably just a matter of setting my expectations properly.  I downloaded it and installed it per instructions in README.html (at least I think I did).  I see it in Mail.app's preferences.  However, when I reply to a message, I still get the signature inserted above the quoted message with the insertion point at the top of the document.

Based on this se

[2014-11-14 20:15] #36 closed, assigned to nobody

[2014-11-19 07:05] archodessa opened #37 "Incompatible Plug-inc Disabled"
![screen shot 2014-11-19 at 09 05 19](https://cloud.githubusercontent.com/assets/9437256/5101946/282ed710-6fcb-11e4-99b9-960a0cc4ab04.png)

[2014-11-19 17:31] evildmp opened #38 "In Mail 8.x, uncustomised attributions are quoted"
Since attributions are not part of the quoted material itself, they should not be quoted.

With *custom* attributions, the default is not to increase their quote level (see #23), but it can't be corrected for *uncustomised* attributions.

Applies to beta.5.

[2014-11-22 09:12] ivanpirog opened #39 "v2.5.7 doesn't work with Mail.app 8.1"
I would like to use quotefix with a new Mail.app version 8.1.

Thanks a lot!

[2014-11-22 09:16] #39 closed, assigned to nobody

[2014-12-11 21:19] robertklep opened #40 "Changing From: address adds new signature"

[2014-12-20 04:37] ykhemka opened #41 "Quotefix for Yosemite 10.10.2"
Hi,

Please provide an update for Yosemite 10.10.2 as the earner ones do not work.

[2014-12-20 07:53] #41 closed, assigned to nobody

[2014-12-25 10:51] #40 closed, assigned to nobody

[2015-02-06 11:06] archodessa opened #42 "Incompatible Plug-inc Disabled 8.2 on 10.10.2"
![screen shot 2015-02-06 at 13 05 30](https://cloud.githubusercontent.com/assets/9437256/6078404/e3a21f2a-ae00-11e4-94bc-4fd6cd3e8148.png)

[2015-02-06 11:07] archodessa commented on #37
There is a problem with last OS again.

[2015-02-06 11:17] alvarnell commented on #37
No problems for me.

Are you using
v2.6.0-beta.6 <https://github.com/robertklep/quotefixformac/releases/tag/v2.6.0-beta.6>?
-Al-

On Fri, Feb 06, 2015 at 03:07AM, Architecture of Odessa wrote:

[2015-02-06 11:32] robertklep commented on #42
Which version of QuoteFix are you running? It works for me on 10.10.2 with [2.6.0 beta 6](https://github.com/robertklep/quotefixformac/releases/tag/v2.6.0-beta.6).

[2015-02-06 12:41] archodessa commented on #42
![screen shot 2015-02-06 at 14 41 21](https://cloud.githubusercontent.com/assets/9437256/6079448/43d3c4fe-ae0e-11e4-8788-8a01d8cb5b32.png)

[2015-02-06 13:29] #42 closed

[2015-02-06 13:32] archodessa commented on #37
Yes, of course.
![screen shot 2015-02-06 at 14 41 21](https://cloud.githubusercontent.com/assets/9437256/6080000/690fa5e2-ae15-11e4-9800-da25d88e52f4.png)

[2015-02-06 13:39] robertklep commented on #37
@archodessa that doesn't make sense: you're saying that the plug-in won't load on 10.10.2, yet you're showing a screenshot of the plug-in?

[2015-02-06 13:42] archodessa commented on #37
No, the problem, that it show a window and only after its closing, the Mail is running.

So, again:
1. This window;
2. Close the window;
3. Apple Mail.

Instead of:
1. Apple Mail.

Do you understand?

[2015-02-06 13:42] archodessa commented on #37
![screen shot 2015-02-06 at 13 05 30](https://cloud.githubusercontent.com/assets/9437256/6080153/c763d32e-ae16-11e4-894f-07f6f7a4bf08.png)

[2015-02-06 13:48] robertklep commented on #37
@archodessa yes, I understand that. But where is the screenshot coming from that is showing which version of QF is installed? Because that can only be shown when the plug-in is loaded correctly.

[2015-02-06 14:04] #34 closed

[2015-02-06 14:06] #19 closed

[2015-02-07 06:32] alvarnell commented on #37
Sorry, but after trying 1-2-3, I still do not get your results with Mail 8.2.

-Al-

On Fri, Feb 06, 2015 at 05:42AM, Architecture of Odessa wrote:

[2015-02-25 11:35] tusbar commented on #26
This is good now.

[2015-02-25 13:37] robertklep commented on #26
@tusbas merci :-)

[2015-02-25 13:37] #26 closed

[2015-03-15 21:00] archodessa commented on #37
@robertklep at the last current version: v2.6.0

[2015-03-15 21:01] archodessa commented on #37
See this problem every day... ;-(

[2015-03-15 21:54] robertklep commented on #37
@archodessa again, it doesn't make sense if you can open the QF preferences in Mail *and* get the "Incompatible Plug-Ins Disabled" message (because you can only get to the preferences if the plug-in was loaded into Mail properly).

[2015-04-28 18:33] nicwolff opened #43 "QuoteFix plugin neither loading nor showing alert"
I've installed the mailbundle

![screen shot 2015-04-28 at 2 31 41 pm](https://cloud.githubusercontent.com/assets/4787/7377263/4deaafea-edb3-11e4-807c-91e6f1ce92a8.png)

and enabled bundles

![screen shot 2015-04-28 at 2 30 01 pm](https://cloud.githubusercontent.com/assets/4787/7377273/5cc17792-edb3-11e4-9b33-b2b1799450fc.png)

but Mail 8.2 (2074.6) launches without QuoteFix. Any ideas? Thanks.

[2015-04-28 19:51] robertklep commented on #43
What's the alert that you're getting?

[2015-04-30 15:06] nicwolff commented on #43
No alert, it just doesn't load at all. Edited the subject for clarity.

[2015-04-30 20:01] robertklep commented on #43
Does the "NoFlaggedMailbox" plug-in work? It's strange that that's showing as a folder while QF is showing as something else (can't make out the icon).

[2015-05-14 16:27] nicwolff commented on #43
NoFlaggedMailbox may or may not be working – I don't have any Gmail IMAP accounts now to test it against – I've removed it. I also can't seem to save Mail rules changes, so something may be weird on my end – I'll update to 10.10.3 and see if I'm still having problems.

[2015-06-16 07:52] AntuanKhanna opened #44 "Does not work with Apple Mail 9.0"
QuoteFix does not appear in preferences panel. No errors.

## Environment
* Mail 9.0 (3054)
* OS X 10.11 (15A178w)

### UUID
[code]

[2015-06-16 07:58] robertklep commented on #44
If you want to test to see if it works (new version of OS X will likely break stuff, though), you can add that UUID to `~/Library/Mail/Bundles/QuoteFix.mailbundle/Contents/Info.plist` (look for the `SupportedPluginCompatibilityUUIDs` key) and see if it works.

If so (I'm not yet running 10.11 anywhere), I'd be happy to add it to the list of supported Mail versions.

[2015-06-16 08:35] AntuanKhanna commented on #44
Clarification: "not appear in preferences panel" after I rebuild it with new UUID. Without adding UUID in `step.py` (or `Info.plist`) bundle will be automatically disabled at startup.

Apparently, yes.

[2015-06-16 08:35] alvarnell commented on #44
Tried that last week.

As you predicted: “OS X will likely break stuff”.

-Al-

[2015-06-16 08:39] robertklep commented on #44
Hopefully I'll be able to install 10.11 in a VM somewhere in the upcoming weeks so I can take a look at what's breaking the plug-in.

[2015-06-20 22:37] zmwangx commented on #43
The icon, stupid it may sound, is "Microsoft Powerpoint Bundle"... (I don't have OP's problem; just want to point this out.)

[2015-06-21 08:14] robertklep commented on #43
@zmwangx yeah now that you mention it, I recognize it too 😀

[2015-07-07 23:41] #43 closed

[2015-07-07 23:44] nicwolff commented on #43
Thanks for your time. I've tried a couple of other Mail.app plugins, and none appears to work, so I'm closing this.

E.g. installed ReplyWithHeaders:
![screen shot 2015-07-07 at 7 42 30 pm](https://cloud.githubusercontent.com/assets/4787/8559894/5300ef8a-24e0-11e5-8992-7f2c025e501f.png)

but its Mail Prefs pane doesn't appear either:
![screen shot 2015-07-07 at 7 43 34 pm](https://cloud.githubuser

[2015-07-11 02:34] ykhemka commented on #44
I have installed El Capitan OS 10.11 and Quotefix does not work. Please advise if there is any updates.

[2015-07-11 06:39] robertklep commented on #44
@ykhemka no updates yet. I installed El Capitan in a VM yesterday, will work on getting the plugin working somewhere next week. I'll update this issue when there's news 😀

[2015-07-12 00:47] mrtoner commented on #25
I'm seeing this again, and it happens when I open a message in the Outbox in order to send again. (I had a couple of messages that weren't sending due to a SMTP password error.)

[2015-07-12 00:54] mrtoner opened #45 "Smarter Signature Removal"
I finally figured out why QuoteFix sometimes won't leave quoted material in a reply: it removes it because it thinks the material is part of the signature.

![screenshot of mail 7-11-15 5 51 48 pm](https://cloud.githubusercontent.com/assets/1012776/8635899/8a78a72e-27f5-11e5-8a26-7f588c46d01d.png)

When "Don't remove sender's signature" is disabled, regardless of the "Remove quotes at this level a

[2015-07-12 01:09] alvarnell commented on #45
Not sure how QuoteFix determines things like that, but I know most e-mail client apps consider anything that follows two or more dashes in a row as the start of a signature. Any time I have the need to insert a line in a message I use equal signs

=================

Sent from Janet's iPad

-Al-
--
Al Varnell

On Jul 11, 2015, at 5:54 PM, Don Morris <notifications@github.com> wrote:

[2015-07-12 02:21] mrtoner commented on #45
Right, I assume that's what QF is doing. But it could leave alone any quoted material after/within the signature.

[2015-07-12 03:52] alvarnell commented on #45
A fine example of why, when you top post, the signature should be at the bottom.

On Sat, Jul 11, 2015 at 07:21 PM, Don Morris wrote:

-Al-
--
Al Varnell
Mountain View, CA

[2015-07-12 05:15] robertklep commented on #45
I have to agree with @alvarnell on this: when quoted text appears below a signature separator, those quotes become part of the signature (and hence get removed).

That said, I'll have a look if it's easy to keep quoted text that is included after a signature separator. It may take some time, because priority number 1 is getting the plug-in to work on El Capitan :-)

[2015-07-13 08:58] robertklep commented on #44
First release for El Capitan: [2.7.0-alpha.1](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.0-alpha.1).

I know there's still a lot not working properly, don't need to tell me about it yet ;-)

[2015-07-13 11:46] robertklep opened #46 "[ElCap] message status set to "changed" with custom attributions"

[2015-07-13 11:47] robertklep opened #47 "[ElCap] cursor moved to top of document"

[2015-07-22 02:10] alvarnell commented on #44
You might want to give Developer Beta 4  a try at your earliest convenience.

[2015-07-22 05:48] robertklep commented on #44
@alvarnell I run the public beta, not the developer beta, and as of yet there isn't a new public beta available. If there's a new UUID for Mail, I'd be happy to add it and cut a new release.

[2015-07-22 06:01] alvarnell commented on #44
Guess you’ll have to wait then, as it’s not a new UUID. I suspect there will be another Public next week.

-Al-

On Jul 21, 2015, at 10:48 PM, Robert Klep <notifications@github.com> wrote:

[2015-07-22 06:05] robertklep commented on #44
@alvarnell so I assume that the 2.7.0 alpha doesn't work on the latest dev beta?

[2015-07-23 08:17] robertklep commented on #44
New alpha release: https://github.com/robertklep/quotefixformac/releases/tag/v2.7.0-alpha.2

This one works in the second public beta.

[2015-07-23 20:34] lac22 opened #48 "Can quotefix documentation list if you can use this on a per account basis?"
Apologies for abusing the issue tracker like this.

On the python-tutor mailing list we just got a mac user who is used to top quoting.  I suggested that he use this plugin, because right now the poor soul is editing things by hand.  He's only interested in using this app if he can set things up so this works for one account, but not all of his accounts -- as most of the time he is required to top

[2015-07-23 20:46] robertklep commented on #48
Don't worry about "abusing" the issue tracker :-)

It's not possible to select a particular account using QF, so it's all or nothing.

However, with the plug-in installed it's possible to override the top posting on a per-message basis using the Alt/Opt key when replying to a message. This works both ways: if quote fixing is enabled, it will be temporarily disabled by using Alt/Opt, and vice versa

[2015-07-23 21:05] lac22 commented on #48
Thank you very much.  It seems perfect to me, as a per message behavioural change seems  even more reasonable than making a new account for the places that want bottom posting.  I have forwarded a link to this issue to the user involved suggesting that he come here and add to this issue if he has any questions.

Thank you once again.

[2015-07-23 21:35] JonFP commented on #48
HI, I'm the Mac user that Laura (lac22) mentioned.

I have downloaded and installed the plug-in but it does not seem to work at all. Is there some preference I need to turn on/off in my regular mail settings?

The install is recognized as I can see the preferences pane and the Enabled option shows in the Mail menu, but when I reply to emails the behaviour is the same no matter whether it is enable

[2015-07-23 21:46] lac22 commented on #48
JohnFP please tell him what OS version you have if my idea does not fix things.

from reading http://www.macworld.com/article/1154707/quotefix_for_mail.html
I think you need to do:
(pasted from that article, read it first, remember that I do not own a mac)

(The simplest way to do so is to quit Mail, launch Terminal (in /Applications/Utilities), and then run the following two commands:

defaults w

[2015-07-23 21:53] JonFP commented on #48
I am using Mountain Lion (10.9.5) and I followed the instructions in the Readme including the two commands in Terminal. No errors were signalled.

[2015-07-24 05:34] robertklep commented on #48
@JonFP one thing I didn't realise which may be a bit of a complication is the Signatures setting _"Place signature above quoted text"_:

<img width="371" alt="screen shot 2015-07-24 at 7 32 01" src="https://cloud.githubusercontent.com/assets/1190916/8868255/26a758f4-31d6-11e5-83d6-6daf2841d02c.png">

If that's enabled, it will interfere with QF being able to work properly. However, given that you

[2015-07-24 14:00] JonFP commented on #48
On Jul 24, 2015, at 1:34 AM, Robert Klep <notifications@github.com> wrote:

Hi Robert,

I disabled that feature and it does indeed make a difference. The top-post now works as you can see from this response.

Sadly the use of the Alt/Option key still has no effect.  If I disable Quotefix from the Mail menu then I get my normal behaviour - enable it and it now works as designed. I’ll just have to r

[2015-07-31 02:09] nriley commented on #44
The customized attributions are working in this version but my signature is still ending up at the top of the  message rather than below the quoted text. (I'm running the developer beta, not the public beta, but hopefully this doesn't make any difference; the Mail build is 3073).

Thanks for keeping QuoteFix up to date!

[2015-07-31 07:32] robertklep commented on #44
@nriley your signature appearing at the top isn't being caused by this setting being enabled?

![screen shot 2015-07-31 at 09 31 47](https://cloud.githubusercontent.com/assets/1190916/9002658/07605c98-3767-11e5-88f7-82b1ce1c5cf7.png)
(_Preferences > Signatures_)

[2015-07-31 07:39] nriley commented on #44
Thanks, I had completely forgotten that was an option.  Works now!

[2015-08-16 09:12] AntuanKhanna commented on #44
Current version (2.7.0-alpha.2) works great with Mail app (3075). Thank you, Robert!

[2015-08-16 09:12] #44 closed

[2015-09-30 23:37] alexlevitskycom opened #49 "Doesn't work at El Capitan 10.11"
Unfortunately doesn't work at all.
Do you have any ideas how to fix it?

[2015-09-30 23:55] alvarnell commented on #49
What version? You need to be using one of the pre-release versions just to get it to load and there are apparently still some minor unresolved issues, but I haven't noticed them.

[2015-09-30 23:58] alexlevitskycom commented on #49
Works well, just problem with cursor, sure you know what I mean.

[2015-09-30 23:59] alexlevitskycom commented on #47
The same problem at me.

[2015-10-02 10:10] alvarnell commented on #47
I am not seeing this issue with the option enabled in v2.7.0 alpha 2 the cursor appears at the top of the document in El Capitan. When I uncheck the option the cursor appears at the bottom, just before the signature.

[2015-10-02 11:09] robertklep commented on #47
@alvarnell which option are you referring to?

[2015-10-02 11:28] alvarnell commented on #47
In the General section, "Move cursor to top of document after QuoteFixing".

[2015-10-02 13:16] robertklep commented on #47
@alvarnell sadly, not for me. It's always moved to the top, regardless of that option.

[2015-10-03 15:12] joekissell commented on #47
I am seeing the same thing as @robertklep in El Capitan with 2.7.0 alpha 2. Regardless of whether "Move cursor to top of document after QuoteFixing" is checked, the insertion point always jumps to the top. I've seen this on two different Macs.

[2015-10-04 18:04] mkjasinski commented on #49
I have installed QuoteFix-v2.7.0-alpha.2 and doesn't work, top-posting only. Any ideas?

[2015-10-04 19:59] robertklep commented on #49
@mkjasinski can you make sure it's not related to #47 (the cursor is moved to the top of the document after quotefixing) or [this faq](https://github.com/robertklep/quotefixformac/wiki/FAQ---Frequently-Asked-Questions#why-does-my-own-signature-appear-at-the-top-of-each-reply)?

[2015-10-04 20:12] mkjasinski commented on #49
After 2/3 Mail application restart everything works fine.

[2015-10-05 08:30] robertklep commented on #47
Interestingly, when you right/ctrl-click a message and choose _Reply_, it works okay.

[2015-10-05 10:01] saaby commented on #47
Just confirming this one. Cursor is not moved to the bottom of the document, when using cmd+R, but works when right/ctrl-click+Reply.

[2015-10-05 10:29] robertklep commented on #47
[v2.7.0 beta 1](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.0-beta.1) hopefully fixes this problem.

[2015-10-05 10:44] saaby commented on #47
Confirmed. It works.

[2015-10-05 10:56] robertklep commented on #47
Thanks for testing, @saaby :+1:

[2015-10-05 11:26] #46 closed

[2015-10-05 11:27] robertklep commented on #49
Closing this issue for now, if there are specific problems, please create a new issue.

[2015-10-05 11:27] #49 closed

[2015-10-05 11:29] robertklep commented on #38
Closing this, as this isn't really a QF bug but a Mail bug (which can be "fixed" by using customized attributions).

[2015-10-05 11:29] #38 closed

[2015-10-05 11:30] robertklep commented on #47
Closing this issue for now. I pushed [v2.7.0 beta 2](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.0-beta.1) with some cleanups related to this issue, and also a fix for #46. Feel free to reopen if there are still cursor positioning problems remaining.

[2015-10-05 11:30] #47 closed

[2015-10-14 07:34] marcscholl opened #50 "Cursor positioned below quoted mail since beta3?"
On one of my Macs, I have beta3, on another beta2 of the El Capitan pre-release. With otherwise identical settings, the one with beta3 places the cursor UNDER the quoted mail when I reply to a mail (I have customized attributions with advanced attributions for reply and forward).

Also, when forwarding, beta3 puts the cursor below the forwarded mail, after I TAB through the To: and other header fi

[2015-10-14 07:38] alvarnell commented on #50
In Mail Preferences->QuoteFix->Quotefixing tab, do you have “Move cursor to top of document after QuoteFixing” enabled?  That’s what was broken before.

-Al-

On Wed, Oct 14, 2015 at 12:34 AM, Marc Scholl wrote:

[2015-10-14 07:41] robertklep commented on #50
QuoteFix, by default, should position the cursor to right above your signature. If you have your signature below the quoted mail, the cursor will be positioned below the quoted mail as well.

#47 (beta3) fixed an issue with this behaviour, but it looks like it's a bit overzealous, as it seems to ignore the option that @alvarnell is mentioning. I'll take a look at it ASAP.

[2015-10-14 08:08] marcscholl commented on #50
@alvarnell: Yes, of course, otherwise the observed behavior would also be the expected one.

@robertklep: thanks for looking into that.

[2015-10-16 11:56] robertklep commented on #50
@marcscholl try [beta 4](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.0-beta.4).

[2015-10-16 15:56] marcscholl commented on #50
Yep! Works again as expected. Thanks a lot,
	—Marc

On Fri, Oct 16, 2015 at 13:56h, Robert Klep <notifications@github.com> wrote (with possible deletions):

[2015-10-16 16:52] robertklep commented on #50
@marcscholl awesome, thanks for testing :grinning:

[2015-10-16 16:52] #50 closed

[2015-10-22 01:16] jasonmp85 commented on #49
I'm having trouble loading the plugin at all in 10.11.1. Sigh.

[2015-10-22 01:19] houmark commented on #49
@jasonmp85 This will always be a problem and not something the plugin itself is responsible for. @robertklep is usably fast at releasing a new version that is compatible with the latest OS version — normally within a day or two of the new OS release.

If quotefix is critical for you, I would recommend waiting with running OS updates until a few days after release or after verifying a new release o

[2015-10-22 07:11] robertklep commented on #49
[Beta 5](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.0-beta.5) works on 10.11.1

[2015-10-22 16:03] rbgarga opened #51 "Cursor stay at the top of email"
When I try to reply an email, it sends me to the bottom, as if I used scroll bar to do it, but cursor stays at the top, then if I press something to start to write reply message, it moves me back to top, where cursor is, and start the type there.

I'm using El Capitan and Quotefix 2.7.0

[2015-10-22 16:08] rbgarga commented on #51
Looks like the problem is here: https://github.com/robertklep/quotefixformac/commit/abb99a0126a03587ee339e2427c71ca3ca067fd6?w=0#diff-15110fb3dee6ab7e58fd27b3d352b529R380

I replaced this elif by a simple else statement and it worked

[2015-10-22 16:10] houmark commented on #51
+1 — I also noticed that my first typing is getting screwed by the cursor moving around.

Often when I hit reply I start typing right away while the animation is ongoing, and that used to work with no issues, but recently it started messing up the cursor position.

[2015-10-22 16:45] robertklep commented on #51
@rbgarga do you mean like this?

[code]

@houmark I'm not sure if I can fix that. QF has to wait for the animation to finish before moving the cursor to the correct position, otherwise the cursor will be positioned at the top of the document. By _"used to work with no issues"_, do you mean on El Capitan, or on Yosemite?

[2015-10-22 16:57] ruurd opened #52 "Needs update to work in Mail 9.1"
Yep. It's that thing again. I upgraded OS X to 10.11.1 and consequently Mail has been upgraded to 9.1 and - surprise - the quotefix plugin is rejected as incompatible.

Can I be of service perhaps?

[2015-10-22 17:01] ruurd commented on #52
Oh I see you're working on it...

[2015-10-22 17:02] robertklep commented on #52
I released 2.7.0 earlier today that works on 10.11.1 (at least for me it does 😉)

— robert

[2015-10-22 17:04] ruurd commented on #52
Yep. I need to learn and keep my big fat mouth shut until I look further than the tip of my nose. My bad. I'll install and see what happens.

[2015-10-22 17:05] ruurd commented on #52
Looks good. I'll close this one.

[2015-10-22 17:05] #52 closed

[2015-10-22 17:13] robertklep commented on #52
👍

— robert

[2015-10-22 17:26] houmark commented on #51
@robertklep That's a good question. As far as I remember it was working fine on Yosemite. On El Cap I have noticed the cursor having both this problem and also that it was adding an empty line above the cursor (even without any typing while the animation is ongoing), but that seems better now.

Would it maybe be possible to detect where the cursor is already when starting, and if there's no text (

[2015-10-22 17:57] rbgarga commented on #51
@robertklep exactly, maybe a problem with my signature? I can make tests if you need

[2015-10-22 18:39] robertklep commented on #51
@rbgarga it sounds like QF may not be able to find the signature properly. Are you using plain Mail signatures, or through a plugin?

@houmark do I understand correctly that you position the cursor yourself (and start typing) before the animation has finished?

[2015-10-22 18:44] rbgarga commented on #51
@robertklep plain text signature like this:

--
Renato Botelho

After I changed that statement I mentioned before it's moving cursor to the end of the email, below my signature. It's not a fix, just a way to have cursor near the place I want it :)

[2015-10-22 18:47] houmark commented on #51
@robertklep No, I just start typing and then the cursor is moved after a bit of time (like after ~1 second) and that screws up the current word(s) until I notice, correct and move the cursor.

It's hard to explain, but I can reproduce every time if I hit reply and start typing right away. I can maybe try making a short video for you if you would like that?

[2015-10-23 08:44] robertklep commented on #51
@houmark I think I understand what's happening. However, if you start typing before the cursor is placed properly, I wonder where you want your reply text to end up in the first place: above or below the quoted text.

Default behaviour for Mail is to place the cursor at the top (above the quoted text), perhaps I should add an option to not mess with the cursor position at all. Only if you want the

[2015-10-23 09:02] rbgarga commented on #51
@robertklep Sure. I would be glad to help. I've added the NSLog call. Where does it save the log?

[2015-10-23 09:03] robertklep commented on #51
@rbgarga `/var/log/system.log` (accessible either through Terminal or with the Console app)

[2015-10-23 09:08] rbgarga commented on #51
@robertklep result: 1

[2015-10-23 09:10] robertklep commented on #51
@rbgarga in that case, it was able to find your signature. I can't really explain the behaviour you're witnessing, especially that the document is scrolled down but the cursor stays on top. I'll have to see if I can somehow reproduce the problem somehow.

[2015-10-23 09:11] rbgarga commented on #51
@robertklep Don't ask me why, but I restored original code and it's working as expected now, that is really odd

[2015-10-23 09:12] rbgarga commented on #51
I'll let you know if I can reproduce it and send you detailed steps. Thank you for help and congrats for the great plugin!

[2015-10-23 22:38] houmark commented on #51
@robertklep Yes, an option like that would be awesome. I want the text to be in the top of the e-mail.

Honestly, I'm using quotefix very simple. I just want it to change the attribution on the reply and nothing else, so if it would be possible to have it not mess with the cursor then that would be a nice option I guess. I'd be happy to test and provide more feedback.

[2015-10-24 09:05] robertklep commented on #51
@houmark just to make sure: have you tried enabling the _"Move cursor to top of document after QuoteFixing"_ option?

<img width="695" alt="option" src="https://cloud.githubusercontent.com/assets/1190916/10709897/2446f1ee-7a3f-11e5-930f-65a5b8561aa3.png">

[2015-11-30 16:59] tkaufmann opened #53 "Cannot use message.from.email in if clause"
I added a dictionary in my customized attribution (email from: salutation). Now I'm trying to find out if message.from.email is a substring of "email from". This doesn't work ("A templating error occured"):

[code]

I'm quite sure it should, as the following code works (but doesn't help me much):

[code]

I'd be very thankful if you could help. I'm on OSX 10.11.1 with QuoteFix 2.7.0.

[2015-12-01 13:45] robertklep commented on #53
How exactly did you define that dictionary?

Sadly, templating errors aren't logged so it's difficult to debug these issues, I'll create a separate issue to enable some logging.

[2015-12-01 13:45] robertklep opened #54 "Log template exceptions"
Template exceptions are lost forever at the moment...

[2015-12-01 13:49] #54 closed

[2015-12-03 12:30] tkaufmann commented on #53
Well, that's better! Now only one problem is left - accessing the dictionary:

[code]

The  ${persie[value]} is causing a template error.

[2015-12-03 12:35] robertklep commented on #53
Don't you mean just `${value}`?

[2015-12-03 12:49] tkaufmann commented on #53
*facepalm* You're certainly correct. Unfortunately, this causes a template error, too. Here's the full template. It lacks an additional elif, but that doesn't matter for debugging:

[code]

[2015-12-03 12:55] robertklep commented on #53
Hmm, that seems to work okay with my standalone test script ([here](https://gist.github.com/robertklep/0505409cac74f8a26f7c)).

I'll push an update for QF shortly that will log templating errors when debugging mode is on (you can enable it in the _"Advanced"_ settings).

[2015-12-03 12:57] tkaufmann commented on #53
Ok, will get back to you then. Thanks again!

[2015-12-03 12:59] robertklep commented on #53
New release pushed: [2.7.1](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.1)

[2015-12-03 13:20] tkaufmann commented on #53
Whether ${value} works or not seems to depend on the sender's email address. It works for most of them, but not all. Cannot post examples here but would like to get in touch. How can we do this?

[2015-12-03 13:22] robertklep commented on #53
Feel free to e-mail me (robert DOT klep AT gmail DOT com)

[2015-12-03 15:41] tkaufmann commented on #53
You've got mail ;-)

[2015-12-03 21:52] tkaufmann commented on #53
Turned out, the solution was to use

[code]

instead of

[code]

[2015-12-03 21:52] #53 closed

[2015-12-09 01:02] MikeMaxNow opened #56 "v2.7.0 stopped working after El Capitan update to 10.11.2"
Quotefix 2.7.0 is not compatible with El Capitan 10.11.2

How can this be fixed?

Thank you!

Mike

[2015-12-09 02:01] alvarnell commented on #56
Have you tried v2.7.1 posted on Dec 3?

If not you can fix it with MailPluginFix
http://code2k.net/products/mailpluginfix/.

For Robert:
Results of defaults read /Applications/Mail.app/Contents/Info PluginCompatibilityUUID
1550C683-EA48-4036-B7CE-FB6F5D13EE02

[2015-12-09 02:10] alvarnell commented on #56
Something I should have documented earlier about v2.7.0 is that Sparkle doesn't work to update to v2.7.1.

[2015-12-09 02:12] MikeMaxNow commented on #56
Yes 2.7.1 does not fix it, but MailPluginFix does, thank you very much!

[2015-12-09 07:26] robertklep commented on #56
Just pushed [v2.7.2](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.2) which supports 10.11.2.

[2015-12-09 07:26] #56 closed

[2015-12-26 22:27] dsedivec opened #57 "Can't disable QuoteFix for a single reply"
Hi!  I just upgraded from Mavericks to El Capitan and I can no longer hold the option key when replying to a message to disable QuoteFix.  OS X 10.11.2, Mail.app 9.2, QuoteFix 2.7.2

Steps to reproduce:

1. Press cmd-option-r to reply to a message

Expected behavior: QuoteFix does not trim the data after the signature separator, does not move cursor to bottom—i.e. QuoteFix is disabled for this rep

[2015-12-26 22:30] robertklep commented on #57
Looks that this feature is broken on El Capitan, it doesn't work for me either (on a MBP). I'll take a look ASAP 🙂

[2015-12-26 23:37] dsedivec commented on #57
Awesome, thank you very much!

I was waiting to open a new issue for this, but if you're going to be in there looking at this code already, you might also be interested to know that I also used to be able to hit cmd-shift-opt-f to forward with QuoteFix disabled, but in El Capitan cmd-shift-opt-f doesn't do anything as far as I can see, not even starting a new forward.  This differs from the reply

[2015-12-27 11:17] robertklep commented on #57
I _somewhat_ managed to fixed replies in [v2.7.3](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.3).

The issue is that there's a race condition between pressing down the `Opt` key and the actual quotefixing process starting, thanks to all those great window animations on ElCap.

You have to keep pressing down the `Opt` key until the entire process has finished, otherwise you may e

[2015-12-27 18:25] dsedivec commented on #57
This is great, thanks Robert.  2.7.3 tested working here.  I can even temporarily disable QuoteFix by hitting cmd-shift-f to start a forward then immediately switching to holding down option until the new message is ready.

[2015-12-27 21:01] robertklep commented on #57
Haha yeah, I suppose that you can take advantage of the slowness of those animations as well 😀

Thanks for testing, I'll close this issue.

[2015-12-27 21:01] #57 closed

[2016-01-04 16:30] Jmuccigr opened #58 "Deletes quoted text"
Just realized by hitting cmd-Z (undo) that QuoteFix is sometimes deleting text in a reply. Here's an example. Before QuoteFix does its thing:

[code]

where all the text starting from "Dear John" down to "Let us know..." is quoted by Mail.app.

Here's what results after QuoteFix:

[code]

Where the text quoted by Mail.app is reduced to just the first two lines.

The options I have checked for Quot

[2016-01-04 19:37] robertklep commented on #58
The default setting of QF will regard any line with (at least) two hyphens as a signature separator, which—as you already found—may be a bit too liberal for some e-mails.

In the _Advanced_ settings, you can enter a custom regular expression to override the default. Try and see if the following works better for you:

[code]

[2016-01-04 20:33] alvarnell commented on #58
My impression has always been that signature separators were supposed to be two hyphens followed by a space.

-Al-
--
Al Varnell
Mountain View, CA

On Mon, Jan 04, 2016 at 11:41 AM, Robert Klep wrote:

[2016-01-04 20:52] robertklep commented on #58
@alvarnell you're quite right.

However, the number of people that actually know (and therefore _use_) that construct is, sadly, pretty small.

[2016-01-10 19:27] sysfu opened #59 "QuoteFix fails to load on Snow Leopard w/Python symbol not found error"
Just tried installing QuoteFix plugin but it's failing to load, please see system.log below

[code]

[2016-01-10 20:04] robertklep commented on #59
I'm afraid that Snow Leopard is just too old to be supported by the current version. You can try and install an older [release](https://github.com/robertklep/quotefixformac/releases) (probably start somewhere in the 2.4 range) to see if it will work on SL.

[2016-01-10 20:04] #59 closed

[2016-01-10 21:13] sysfu commented on #59
Here's a link to [download the 2.4.16 binary from MacUpdate](http://www.macupdate.com/download/49648/quotefix-2.4.16.zip)  for anyone else searching for a solution to this issue. Verified this loads on Snow Leopard.

[2016-01-29 01:16] mgguinne opened #60 "Split message.from.name"
I cant seem to find a way to split the "message.from.name" into First Name Last Name etc.

I have tried:

Example Name: John Smith
${message.from.name.split()}
But I get:
[u'John', u'Smith']

${message.from.name.split(' ' ,1)}

I have tried a few ways to get around this but with no luck, any thoughts etc?

[2016-01-29 07:39] robertklep commented on #60
Your first example splits the name into _First Name_ and _Last Name_, which is what you're asking, but my guess is that you want to use the parts separately? If so, what exactly is your goal?

FWIW, you can use the separate parts like this:
[code]

And with some advanced templating, you don't need to call `.split()` twice:
[code]

[2016-01-31 03:15] mgguinne commented on #60
Thanks Robert,

That was 100% what I was after :) Is this just standard python code or something else?

Can I suggest adding this to main help file?

Cheers Mike

[2016-02-01 07:57] robertklep commented on #60
It's a mix between the template engine that QF uses ([pyratemp](http://www.simple-is-better.org/template/pyratemp.html)) and Python :)

[2016-02-01 07:57] #60 closed

[2016-02-12 06:51] houmark commented on #51
@robertklep Sorry for my very late reply on this. I thought I had replied somewhere.

Yes, I have that setting on normally and I also tried without it checked. The result is a bit different for me, but same annoyance. It moves the cursor no matter and screws up the actual writing. I think in some way QuoteFix is adjusting the cursor position no matter if it's on or off, just in different ways, but

[2016-02-18 06:58] robertklep opened #61 "Fix issues when forwarding multiple messages"
* Only the first message gets quotefixed
* Subsequent messages get a lot of extra whitespace surrounding the attribution

[2016-03-09 17:29] JayBrown opened #62 "Incompatible with MailFlow plugin"
There's a great little Mail plugin called MailFlow – https://github.com/arachsys/mailflow –, and QuoteFix doesn't seem to be compatible. MailFlow apparently overrides some (all?) of QuoteFix's functionality. For example: MailFlow (apart from implementing format=flowed) trims the attribution line (removes the annoying date & time), and doesn't insert it in the quote level, but as part of the new me

[2016-03-09 19:28] robertklep commented on #62
Yeah, it's going to be tricky to have two plugins active that are (partially) trying to do the same thing.

I don't know exactly how Mail decides the order in which plugins are run, but it's probably fair to assume it's going to be random.

You may be able to get _some_ QF functionality working, but I'm taking your word for it that a lot of functionality will be broken (also because of how Mail pl

[2016-03-09 19:36] arachsys commented on #62
Robert Klep <notifications@github.com> wrote:

MailFlow is a single simple .py file, so failing all else you could just
comment out the bits you don't want (probably the swizzling of the two
ComposeViewController selectors) to prevent it interfering with QuoteFix?

I suspect QuoteFix probably has a more sophisticated and configurable
attribution repair system than the super-simple one I wrote for

[2016-03-22 09:45] toszcze opened #63 "Support for 10.11.4"
The plugin doesn't work with Mail 9.3 (3124) in OS X 10.11.4.

[2016-03-22 10:30] robertklep commented on #63
For the time being, you can try [this](https://github.com/robertklep/quotefixformac/wiki/FAQ---Frequently-Asked-Questions#every-time-mac-os-x-updates-i-get-a-message-that-quotefix-is-disabled) if you want.

I'll be updating my Mac soon so after that I'll take a closer look :-)

[2016-03-22 10:48] toszcze commented on #63
Thanks. :)

[2016-03-22 10:49] robertklep commented on #63
Are you running [2.7.4](https://github.com/robertklep/quotefixformac/releases/tag/v2.7.4)? It should support Mail 9.3

[2016-03-22 10:49] alvarnell commented on #63
The PluginCompatibilityUUID you need for Mail 9.3 is:

71562B89-0D90-4588-8E94-A75B701D6443

-Al-

On Tue, Mar 22, 2016 at 03:30 AM, Robert Klep wrote:

[2016-03-22 10:52] toszcze commented on #63
@robertklep Yes, I'm running 2.7.4, but the PluginCompatibilityUUID is now different (as @alvarnell said). Anyway, adding it to Info.plist obviously worked.

[2016-03-22 10:54] robertklep commented on #63
@toszcze I added that UUID a few weeks ago for the 2.7.4 release ([here](https://github.com/robertklep/quotefixformac/commit/1d7f85e7110c05d8379de32a3747db409358b657#diff-2eeaed663bd0d25b7e608891384b7298R122)), so not sure why it's not working.

[2016-03-22 10:55] toszcze commented on #63
@robertklep Yes, I just noticed that for some reason I was still using 2.7.3. Sorry for that and thanks for your help. :)

[2016-03-22 10:56] robertklep commented on #63
@toszcze no problem :-)

[2016-03-22 10:56] #63 closed

[2016-04-01 18:45] pycckuu opened #64 "Signature before template "Hi ${message.from.name}:""
Is there any way to put the template before the signature?

<img width="329" alt="screenshot 2016-04-01 14 41 26" src="https://cloud.githubusercontent.com/assets/1489583/14216717/53a67d18-f818-11e5-847a-44a59039e820.png">

[2016-04-02 06:28] robertklep commented on #64
No, I don't think it's possible.

Mail itself takes care of placing both the signature and the attribution line. QuoteFix just changes the attribution before it is placed, but it doesn't have any control on _where_ it is placed.

A workaround would be to include your signature in the attribution itself, but that wouldn't allow having multiple signatures (like Mail offers), and you'd have to place

[2016-04-21 08:29] evildmp opened #65 "Existing quote levels are not always preserved in replies"
First, thanks for this excellent plugin.

Sometimes, when I reply to a message containing quoted text, the quote levels in my reply are flattened to a single uniform level - in other words the attribution levels are not preserved.

I think it happens when the other user's message was sent using Gmail (the message has no User-agent header) but I am not certain.

[2016-04-21 08:31] robertklep commented on #65
I'll see if I can reproduce. It could be that one of the "cleanup" options (in the _Quotefixing_ tab) may cause this behaviour.

[2016-04-21 08:33] robertklep opened #66 ""Include selected text, if any; else none" feature"

[2016-04-22 11:53] robertklep opened #67 ""Increase quote level for custom attribution" broken"

[2016-06-20 04:35] mgguinne opened #68 "Replying to emails strange result"
Hi,

When I reply to emails that I was the last sender of it uses my name etc. This is even though in the new email it says the recipient in the to field? I am thinking this might be a delay thing before mail changes it etc?

Here is an example:
Say I sent an email to bob@gmail.com, he never replied to my email but in mail's conversations I just hit reply. Quotefix then evaluates my email address

[2016-06-20 06:12] robertklep commented on #68
When you reply to a message you sent, you are going to be the sender, even though the original message (to which you replied initially) was sent by someone else.

Assuming that the original message that you sent was quotefixed as well, you could temporarily disable QF by pressing Opt/Alt when hitting Reply, but AFAIK, Mail will add its own attribution to the mail which will also contain your own n

[2016-06-20 06:25] mgguinne commented on #68
Hi Robert,

Thanks for your awesome response time :) Not expected but appreciated non the less.

One workaround I did do was to write an if statement to catch my email address and then don’t insert any names etc, not sure if it would be possible to have the "message.to.name” like the “message.from.name”? I think this would fix my issue?

{% elif message.from.email=="mgguinne@gmail.com" %}

Hi ${me

[2016-06-20 06:36] robertklep commented on #68
`message.to` is an array, because a message can be sent to multiple recipients.

It has a method `.join()` that can be used to generate a string of recipients, and you can pick which property to use to join. In your case, that would be `name`:

    ${message.to.join(', ', 'name')}

[2016-06-20 06:40] mgguinne commented on #68
Hi Robert,

Thanks heaps, working well now with:

% elif message.from.email=="mgguinne@gmail.com" %}
Hi ${message.to.join(', ', 'name').split()[0]},

Thanks,

Michael McGuinness

[2016-06-20 06:41] #68 closed

[2016-07-04 15:07] andreastt opened #69 "macOS Sierra (Mail.app version 10) not supported"
After installing the add-on on macOS Sierra, an alert appears saying the bundle is not supported on Mail.app version 10 and to contact the author.

The bundle in _~/Library_ is subsequently deleted.

I have not yet investigated further.

[2016-07-04 16:46] robertklep commented on #69
I'm not running Sierra myself, so can't offer a quick fix, but the first step to fixing this is usually to add the new Mail UUID to `QuoteFix.mailbundle/Contents/Info.plist`, as per [this FAQ](https://github.com/robertklep/quotefixformac/wiki/FAQ---Frequently-Asked-Questions#every-time-mac-os-x-updates-i-get-a-message-that-quotefix-is-disabled).

However, chances are that it still won't work, usua

[2016-07-04 21:41] alvarnell commented on #69
Somebody else told me that MailPluginFix <http://code2k.net/products/mailpluginfix/> did not work for another Mail Plugin, so chances are that something changed.

-Al-

On Mon, Jul 04, 2016 at 09:46 AM, Robert Klep wrote:

[2016-07-08 13:52] atgmatt commented on #69
Unfortunately just updating the SupportedPluginCompatibilityUUIDs list to include the new PluginCompatibilityUUID from Mail doesn't seem to work.  I've tried it both through MailPluginFix and manually and in both cases Mail still complaints that the modified bundle isn't compatible with Mail 10.0

[2016-07-08 16:45] robertklep commented on #69
I'll see if I can get a public beta to install in a VM so I can take a closer look, hopefully somewhere next week.

[2016-07-11 07:53] robertklep commented on #69
First alpha release for Sierra support: [v2.8.0-alpha.1](https://github.com/robertklep/quotefixformac/releases/tag/v2.8.0-alpha.1)

[2016-07-19 05:28] robertklep opened #70 "Add em/en dash to signature separator"

[2016-07-19 21:59] andreastt commented on #69
@robertklep I can confirm that the alpha version works fine on macOS Sierra 10.12 Beta (16A239j).

Thanks so much! I tried your earlier suggestions, but I found the build system requirements and all the dependencies a bit much.

[2016-07-19 22:02] atgmatt commented on #69
2.8.0-alpha.1 is working for me on macOS Sierra public beta 1.  Thanks, Robert!

[2016-07-19 22:07] robertklep commented on #69
@andreastt @atgmatt thanks for testing!

I'll close this issue, if any other issues pop up, feel free to open a new one.

[2016-07-19 22:07] #69 closed

[2016-07-19 22:11] atgmatt commented on #69
@robertklep Out of curiosity, what did you have to change to make it work?  There are a couple of other mail plugins I use heavily that don't work even after updating the Mail UUID, so I'm wondering if there's anything to learn from quotefix that might help the authors of those plugins.

[2016-07-19 22:17] robertklep commented on #69
@atgmatt aside from having to add the new UUID (the procedure for which has changed slightly, see [this commit](https://github.com/robertklep/quotefixformac/commit/e5354de23d3b9c91ef285feaf045dab112cde25b)), the main issue was with some code that I added once to improve compatibility with another plugin (Attachment Tamer).

Since that plugin has been discontinued, it was easiest to just remove tha

[2016-07-19 22:28] atgmatt commented on #69
I'll bet if I manually hack the configurations of the other plugins to add the UUID to the new Supported10.12PluginCompatibilityUUIDs instead of the old SupportedPluginCompatibilityUUIDs that they start working.  If so, I will report back to the others of those plugins.  This is a great find and will probably save some people a ton of time in porting their plugins.

[2016-07-20 00:07] alvarnell commented on #69
I don’t know that it will help, but MailPluginFix <http://code2k.net/products/mailpluginfix/ <http://code2k.net/products/mailpluginfix/>> was updated recently, though I don’t know for certain that it includes the 10.12 fix or not.  Not a Sierra tester yet.

-Al-

On Tue, Jul 19, 2016 at 03:11 PM, atgmatt wrote:

[2016-07-27 12:02] houchin opened #71 "Warn user that Mail signature placement option set to interfere with QuoteFix"
Hi, Thanks for the awesome QuoteFix plugin. One thing I just ran into that took longer to realize the problem than I would have liked was the issue of top-quoting and signature placement you discuss on the FAQ, quoted below. If there was a way for QuoteFix to display on its main settings tab that this attribute is set and potentially interferes with other QuoteFix settings, that would be very help

[2016-07-27 12:23] robertklep commented on #71
Hey @houchin! That's a pretty good idea, although I'll have to check and see if I can read Mail preferences from my plugin (I probably can, but never tried).

[2016-08-12 15:19] Hanineal opened #72 "Mac OS 10.12 compatible QuoteFix version"
Are you working on a 10.12 (Sierra) compatible version? If so, when will it be available?

I f you need testers, let me know.

Dan Neal

[2016-08-12 17:41] robertklep commented on #72
Check out  [v2.8.0-alpha.1](https://github.com/robertklep/quotefixformac/releases/tag/v2.8.0-alpha.1), which should work (mostly) on Sierra.

I'll update the README to include a link to it :)

[2016-09-09 06:09] ykhemka commented on #72
Hello,

A new version GM was released on 08.09.2016. Is there an update as Alpha-1 is not working.

[2016-09-09 07:13] robertklep commented on #72
@ykhemka I'm installing the GM as we speak, so hopefully I'll be able to push an update later today.

[2016-09-09 07:15] alvarnell commented on #72
The GM won’t be released until Sep 20, so what you have is just a GM candidate.

-Al-

On Thu, Sep 08, 2016 at 11:09 PM, ykhemka wrote:

[2016-09-09 07:16] ykhemka commented on #72
Thank you very much.

On Fri, Sep 9, 2016 at 12:43 PM, Robert Klep <notifications@github.com>
wrote:

[2016-09-09 07:49] robertklep commented on #72
Okay, so I'm running the GM _candidate_ (😉) now, and QF (alpha-1) seems to be running just fine. Mail version is 10.0 (3226).

@ykhemka are you getting errors? Does QF load at all? Can you post the result of this Terminal command:

    defaults read /Applications/Mail.app/Contents/Info PluginCompatibilityUUID

[2016-09-09 08:12] ykhemka commented on #72
[image: Inline image 1]

Please check as I downloaded again and installed and the error above.

On Fri, Sep 9, 2016 at 1:19 PM, Robert Klep <notifications@github.com>
wrote:

[2016-09-09 08:23] robertklep commented on #72
@ykhemka the inline image doesn't seem to work 🙁

[2016-09-09 08:25] ykhemka commented on #72
Attached again.

On Fri, Sep 9, 2016 at 1:53 PM, Robert Klep <notifications@github.com>
wrote:

[2016-09-09 08:26] ykhemka commented on #72
<img width="187" alt="screen shot 2016-09-09 at 1 41 08 pm" src="https://cloud.githubusercontent.com/assets/8979532/18380488/34ea2d60-7695-11e6-9d93-fcdf346acda6.png">

[2016-09-09 08:27] robertklep commented on #72
@ykhemka nope, no luck. Feel free to e-mail me directly: robert DOT klep AT gmail DOT com

[2016-09-09 08:28] robertklep commented on #72
@ykhemka thanks for the image. It looks like you just disabled QuoteFix. You can re-enable it in the preferences.

[2016-09-09 08:30] ykhemka commented on #72
Voila, thanks. It works now :-)

On Fri, Sep 9, 2016 at 1:58 PM, Robert Klep <notifications@github.com>
wrote:

[2016-09-09 08:31] ykhemka commented on #72
Hi,

Can you also prepare on the lines of Herald for Mac.

http://erikhinterbichler.com/apps/herald/

And

http://dervishsoftware.com

On Fri, Sep 9, 2016 at 1:58 PM, Robert Klep <notifications@github.com>
wrote:

[2016-09-09 08:33] robertklep commented on #72
When running multiple plugins, a plugin developer cannot enforce the order in which the plugins are run, so it's really difficult to act on the output of other plugins.

[2016-09-09 08:44] ykhemka commented on #72
Oh, I understand.

On Fri, Sep 9, 2016 at 2:03 PM, Robert Klep <notifications@github.com>
wrote:

[2016-09-24 02:46] ykhemka opened #73 "Quotefix Mac OS Sierra 10.12.1 beta"
Hello,

Please check as the current alpha version is not compatible with macOS Sierra 10.12.1 - Mail 10.1. Please advise for any updates.

Thanks,
Yash Khemka

[2016-09-24 03:01] alvarnell commented on #73
MailPluginFix 1.3.0 <https://code2k.net/products/mailpluginfix/> should take care of that for you.

-Al-

On Fri, Sep 23, 2016 at 07:46 PM, ykhemka wrote:

[2016-09-24 03:08] ykhemka commented on #73
Hi,

Thanks, even after that the following image shows, pls check attachment.

On Sat, Sep 24, 2016 at 8:31 AM, Al Varnell <notifications@github.com>
wrote:

[2016-09-24 06:01] robertklep commented on #73
I'm not running that beta yet, and I'm on a slow connection this weekend, but I'll take a look on Monday.

[2016-09-24 06:16] ykhemka commented on #73
Thank you very much.

Best regards,
Yash Khemka

Sent from my iPhone

On 24-Sep-2016, at 11:31 AM, Robert Klep <notifications@github.com> wrote:

I'm not running that beta yet, and I'm on a slow connection this weekend, but I'll take a look on Monday.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-26 10:22] robertklep commented on #73
@ykhemka I just pushed [v2.8.0-alpha.2](https://github.com/robertklep/quotefixformac/releases/tag/v2.8.0-alpha.2), with support for Mail 10.1 (Sierra 10.12.1 beta).

[2016-09-26 10:29] ykhemka commented on #73
Hi,

Thank you very much.

On Mon, Sep 26, 2016 at 3:52 PM, Robert Klep <notifications@github.com>
wrote:

[2016-11-03 02:45] ykhemka commented on #73
Hello,

The Quotefix for Mac has been disabled for Mac OS 10.12.2 Beta. I have been
using v2.8.0-alpha.2
<https://github.com/robertklep/quotefixformac/releases/tag/v2.8.0-alpha.2>:
Sierra 10.12.1 (beta) support.

Please advise and update.

Regards,
Yash Khemka

On Sat, Sep 24, 2016 at 8:38 AM, Yash Khemka <ykhemka@gmail.com> wrote:

[2016-11-03 09:31] robertklep commented on #73
@ykhemka just pushed [2.8.0-alpha.3](https://github.com/robertklep/quotefixformac/releases/tag/v2.8.0-alpha.3) with support for 10.12.2 beta.

[2016-11-03 09:34] ykhemka commented on #73
Hi,

Thank you very much.

Yash Khemka

On Thu, Nov 3, 2016 at 3:01 PM, Robert Klep <notifications@github.com>
wrote:

[2016-12-14 12:12] skepticus opened #74 "Sierra 10.2.2, and Mail 10.2, once again broke QuoteFix"
What the subject says.....
"Mail has disabled the following plug-ins:

	QuoteFix

Contact the makers of these plug-ins for versions that are compatible with Mail 10.2.

[2016-12-14 12:16] robertklep commented on #74
For the time being, you could try to run [MailPluginFix](http://code2k.net/products/mailpluginfix/). Once I've updated to 10.2 I'll take a closer look.

[2016-12-15 02:19] skepticus commented on #74
That did seem to repair it, but I had to put the plugin into my user Library. That app does not see bundles in the system Library. (I prefer to have things available for all users….)

So, yes, thanks.

- Wade

[2016-12-15 09:50] robertklep commented on #74
@skepticus you should be able to move the fixed plugin back to `/System/Library` (or `/Library`, not sure where the global plugin dir is located).

[2016-12-15 10:14] robertklep commented on #74
@skepticus updated to 10.12.2 myself, but from what I can see, Mail hasn't changed since the        latest beta; [`v2.8.0-alpha.3`](https://github.com/robertklep/quotefixformac/releases/tag/v2.8.0-alpha.3) works okay for me.

If that version doesn't work for you, can you post the output of the following Terminal command:
[code]

Sometimes, different hardware gets different Mail versions.

[2016-12-16 00:20] mgguinne commented on #74
Hi Robert, same issue for me. Output of command you requested.

[2016-12-16 00:20] mgguinne commented on #74
1CD3B36A-0E3B-4A26-8F7E-5BDF96AAC97E

[2016-12-16 00:23] mgguinne commented on #74
Thanks v2.8.0-alpha.3 fixed my issue, cheers

[2017-01-02 00:50] stormspirit opened #75 "BadPrototypeError"
I encountered a BadPrototypeError when using the plugin.

[code]

It looks it's because I installed a new version of `pyobjc`, which enforces more strictly on the selector mapping: https://pythonhosted.org/pyobjc/core/changelog.html

I added this into the quotefix/menu.py methods, but then it failed with

`ImportError: cannot import name MessageHeaders`

[2017-01-02 09:33] stormspirit commented on #75
I initially got the error by just just directly using the released .mailbundle. If I uninstall the new version (3.2.1) pyobjc, the errors will be gone. So I thought it has dependency on system-wide pyobjc. But then I realize, there was another .mailbundle plugin in my Mails/Bundles that is compiled with the new version pyobjc. If I remove that .mailbundle, even if I have a 3.2.1 pyobjc installed,

[2017-01-02 10:12] robertklep commented on #75
Oh, yeah, that could very well cause issues, because AFAIK only one version of the framework can be active inside the Mail app at any one time (and it's a bit of a gamble which one gets loaded first).

My guess is that after decorating the `set_state_and_title` method, you just hit the next backward incompatible error :(

At some point I'll try and see if I can install the new PyObjC in such a way

[2017-01-05 21:57] LwsBtlr opened #76 "strftime bug"
With advanced templating the command `${message.sent.strftime("%H:%M` %Z")}` results in 14:54 %-0700 instead of the Time Zone name as specified in man strftime. %z returns "-0700" as expected.

(macOS Sierra 10.12.2)

[2017-01-06 13:55] robertklep commented on #76
Good catch.

I apparently never implemented support for `%Z` (internally it gets treated as "Z", which in [Unicode date format patterns](http://unicode.org/reports/tr35/tr35-6.html#Date_Format_Patterns) translates to the timezone offset, which is what you're seeing).

Short term solution would be to use `zzz` instead of `%Z`, but I'll push a fix shortly as well.

[2017-01-06 14:00] robertklep commented on #76
[v2.8.0-alpha.4](https://github.com/robertklep/quotefixformac/releases/tag/v2.8.0-alpha.4) should fix this.

[2017-01-06 14:00] #76 closed

[2017-01-25 12:05] skepticus commented on #74
I was able to get the bundle to work in the main /Library/Mail/Bundles, rather than my user ~/Library, but as of a week ago (last security update?) I'm getting this-

"The QuoteFix plug-in caught an exception:

Traceback (most recent call last):
  File "/Library/Mail/Bundles/QuoteFix.mailbundle/Contents/Resources/lib/python2.7/quotefix/fixer.py", line 110, in fix
  File "/Library/Mail/Bundles/Quot

[2017-01-25 12:10] robertklep opened #77 "Check validity of `_originalMessages`"
As per [this comment](https://github.com/robertklep/quotefixformac/issues/74#issuecomment-275091636):

[2017-01-25 12:12] robertklep commented on #74
@skepticus I moved this [to a new issue](https://github.com/robertklep/quotefixformac/issues/77). As a quick fix, you can disable the _"Remove attachment placeholders"_ option.

[2017-01-26 10:09] #72 closed

[2017-01-26 10:11] #73 closed

[2017-01-26 10:11] #74 closed

[2017-01-26 10:29] robertklep commented on #77
@skepticus try [v2.8.0-alpha.5](https://github.com/robertklep/quotefixformac/releases/tag/v2.8.0-alpha.5), which hopefully fixes the issue you ran in to.

[2017-01-26 12:08] skepticus commented on #77
Success. Thanks so much.

[2017-01-26 12:11] #77 closed

[2017-01-27 02:20] ykhemka opened #78 "macOS Sierra 10.12.4 / Mail 10.3"
Hello,

Please note that the Quotefix is not working - Alpha 5. Please advise.

Regards
Yash Khemka

[2017-01-27 09:16] robertklep commented on #78
When Apple releases a new version of Mail, this is going to happen.

First option is to try MailPluginFix: https://code2k.net/products/mailpluginfix/

Second option is to try the suggestions [outlined in this FAQ](https://github.com/robertklep/quotefixformac/wiki/FAQ---Frequently-Asked-Questions#every-time-mac-os-x-updates-i-get-a-message-that-quotefix-is-disabled), to add the new Mail app UUID to

[2017-01-27 09:21] ykhemka commented on #78
Hello,

Thank you for your reply. I guess I would wait for the release by you.

Regards,
Yash Khemka

On Fri, Jan 27, 2017 at 2:46 PM, Robert Klep <notifications@github.com>
wrote:

[2017-02-10 21:27] LwsBtlr commented on #78
MailPLuginFix worked perfectly on Alpha 5 for the current Sierra beta. (It also worked for MailHub). It's trivial to use (takes about 10 seconds to launch and run).

[2017-02-21 19:05] eyv opened #79 "Blank subject line"
I've been having continued problems over the last couple months which seem to be due to QuoteFix. After restarting Mail, everything works well, but after a few minutes, replaying to email produces a blank subject line. Everything else is fine.

System: macOS (Sierra) 10.12.3 (16D32)

The issue is still present with the latest QuoteFix (alpha 5 for Sierra).

QuoteFix is configured as follows:
  - E

[2017-02-21 19:14] robertklep commented on #79
My guess is that your issue is being caused by an interaction between QF and one of your other plugins (plugins in Mail are unsupported by Apple so they rely on undocumented features to do their magic; however, this cán cause conflicts if you use multiple plugins).

You could try and see if the problem is solved if you use different combinations of plugins. If so, it's up to you to decide which on

[2017-02-21 19:20] eyv commented on #79
I will test different permutations. Are you saying this is a definite WONTFIX or shall I figure out which interaction is actually causing the problem?

[2017-02-21 19:44] robertklep commented on #79
It's not a definitive WONTFIX, but my experience with these issues is that it's most likely a CANTFIX. These types of conflicts are very difficult to debug and fix (certain combinations of plugins may work for person A, but fail for person B, for instance).

[2017-02-21 19:46] eyv commented on #79
I'll do what I can. Thanks.

[2017-02-23 22:09] eyv commented on #79
Confirmed. MailHub is the conflict. What's very strange, though, is that even disabling QuoteFix (in the preference) but leaving the bundle active causes the problem. So, somehow, it doesn't have anything to do with whether QuoteFix is actually doing anything -- its mere existence is enough to cause the problem.

[2017-03-09 20:59] krono commented on #32
Hi, I stumbled upon a similar problem.
I regularly get emails that start with:

The default regex thus kills the whole reply.

I now use this custom regex:

    (?i)^(?:>|\||\s+)*--(?:&nbsp;|\s+|\xa0)?$

which ensures that only quote separators at the beginning of a line or quoted, at the beginning of a line (disregarding spaces) are considered.

[2017-03-10 06:28] robertklep commented on #32
Thanks for sharing, @krono :)

[2017-06-26 17:36] tizatron opened #80 "Alpha 6 not working on 10.12.5 (16F73), Mail Version 10.3 (3273)"
A great plugin, been using it for years.

New laptop, and trying to get the plugin to fly.

Tried the Plugin Fix and pInfo mods per the FAQ, no joy.  But I will keep reading.

I looked in the system log and this is the only thing that I could see.

`Jun 26 10:28:20 XXXXXX-XXXXXX com.apple.xpc.launchd[1] (com.apple.imfoundation.IMRemoteURLConnectionAgent): Unknown key for integer: _DirtyJetsamMemor

[2017-06-26 18:05] robertklep commented on #80
It should work on 10.12.5.

Did you also enable plug-in support for Mail? Documented here: https://github.com/robertklep/quotefixformac#installation (first step)

[2017-06-26 19:20] tizatron commented on #80
Thanks for getting back to me:

I ran these requests as me:

[code]

I got your reply and realized that on the new machine I am not admin (or root)

[code]

Plugin now shows up.

Bottom posting in back!  Sanity restored.

Sent a tiny pull request.  Might help.  Thanks for the quick reply and a good plugin.

#81

[2017-06-26 19:20] tizatron commented on #80
Going to close this issue since running the command as root did the trick,

[2017-06-26 19:20] #80 closed

[2017-06-26 19:59] robertklep commented on #80
That's unexpected, as those settings should end up in your local (user) ~/Library/ (otherwise, you'd use `defaults write -g ...`, for which you probably _do_ require root privs). I'm pretty sure that I never used `sudo` to get it working.

I'll look into it a bit more before accepting your PR :)

[2017-06-26 20:41] tizatron commented on #80
yes - that does make more sense and the plugin should be installable without root creds - good point.

[2017-08-18 11:47] #70 closed

[2017-08-26 05:30] houmark commented on #51
I know it's been a long time since this was discussed, but every single day I'm annoyed by the slowdown when I'm replying mails. I have this constant cursor dance and no matter how much I try to make myself wait for the animation to finish I fail and most times I will have to correct the text and cursor.

I would love if you would try some work on this and I would be happy to assist in testing.

[2017-08-26 06:06] robertklep commented on #51
@houmark right now, I'm working on supporting High Sierra, which has priority.

If I have some spare time, I'll try and see if I can fix the issue that you're having.

[2017-08-26 06:11] houmark commented on #51
I fully understand and appreciate that. Just wanted to note it again in case you come around this when refactoring for High Sierra 😏

[2017-08-26 10:38] robertklep commented on #51
@houmark

Try and see if this plugin solves (or at least mitigates) your issues:

https://github.com/AndreasVerhoeven/NoMailAppAnimationsOnMavericks/releases

It seems to work fine next to QF, and it should disable all animations, which are the main cause for the delayed cursor placement.

[2017-08-26 22:51] houmark commented on #51
Unfortunately that only made animations jerky but there's still things going on with the window when it's doing modifications to the content of the mail. Thanks for the suggestion though...

[2017-08-27 05:20] robertklep commented on #51
It should completely disable the animation, not make it jerky. For me, it works like that.

There's still some time between opening the window and setting the cursor, I'll see if I can fix that, but I think that's about as much fixing that I can do :(

[2017-08-28 01:50] houmark commented on #51
If you could make the cursor stop moving completely I think there could be some progress.

To be honest, the only thing I use quotefix for is to make a custom attribution for the reply message so the time of the original mail is not shown. I work with clients in various time zones, so to not confuse I just remove the time.

<img width="406" alt="image 2017-08-27 at 8 48 11 pm" src="https://user-im

[2017-08-28 10:29] robertklep commented on #51
@houmark can you try and see if 2.8.2 works better for you? https://github.com/robertklep/quotefixformac/releases/tag/v2.8.2

It removes _most_ of the cursor movements if quotefixing is disabled (custom attributions will still work):

<img width="718" alt="screen shot 2017-08-28 at 12 20 11" src="https://user-images.githubusercontent.com/1190916/29769580-50288b96-8beb-11e7-9ef9-4977b267f033.png">

[2017-08-29 01:25] houmark commented on #51
Thanks for the attempt @robertklep. I re-installed the NoMailAppAnimations and also 2.8.2 of QuoteFix. Unfortunately while the cursor seems to be more still and the animations not jerky, the cursor still moves to the beginning of the mail body. Meanwhile my Mac takes a half a sec or so to open the mail but I'm typing in the meantime and when the body of the response appears quotefixed the cursor m

[2017-08-29 06:45] robertklep commented on #51
There are one or two cursor movements that are still required because of the attributions, and I can't get rid of them for now.

Feel free to e-mail me directly: robert DOT klep AT gmail DOT com

[2017-08-29 06:46] houmark commented on #51
I understand that, and this may not be possible to solve unless one gives up other things, which may not even be possible either.

Will email you!

[2017-10-08 23:16] Yann-R commented on #67
I confirm: still broken with version 2.8.0 on macOS Sierra 10.12
Would be useful if back ;-)
Thanks for this nice software!

[2017-10-08 23:23] Yann-R opened #82 "partial bug with ${message.from}"
Hello,
When trying to customize the attribution, I observed something like a bug?

`${message.from}` is documented as `Name and e-mail address of sender of message` but it writes only the display name for my tests, then behaving like the other variable: `${message.from.name`

The workaround is then to use `${message.from/name}` combined with `${message.from.email}` to get the same as `${message.fr

[2017-10-09 16:45] Yann-R opened #83 "Bad placement with signature containing links"
Hi,
As mentioned in your FAQ, QuoteFix can be combined with Apple signatures so as to:
- answer below the quoted text
- and get the signature at the bottom

=> you just have to disable the (Apple Mail) option `Place signature above quoted tex`
and it works!!! :-)

Unfortunately, I noticed that the cursor placement become buggy when the signature contains text like URL or e-mail on a same line as s

[2017-10-09 17:08] robertklep commented on #82
No, not normal.

It works for me, but I wouldn't be surprised if it doesn't work for some edge cases. It doesn't work at all, or just in particular cases?

[2017-10-09 17:56] Yann-R commented on #82
Yes, always: I never get something else than the Display Name, without e-mail address.

As an example, with a simple template like `${message.from} wrote:`, the github notification I received from your above answer gives simply the following when clicking to reply:
`Robert Klep wrote:`

My system:
- macOS version 10.12.6
- Mail version 10.3 (3273), (even launched in English this doesn't solve the

[2017-10-09 19:27] Yann-R commented on #82
BTW, my observed bug is the same with QuoteFix version 2.8.2 that I just installed
(strangly, the embedded version checking did not tell me there was a newer version).

[2017-10-15 20:04] jklundell opened #84 "unanchored signature delimiter"
The default delimiter doesn't have a beginning-of-line anchor, so it treats any line ending with a double hyphen or dash as a delimiter. The obvious fix of adding ^ seems to work (n=1).

[2017-10-15 20:20] robertklep commented on #84
Because of how Mail structures e-mails, using an anchor doesn't always work, which is why I chose not to use one by default.

You can set a custom regular expression in the _"Advanced"_ preferences.

[2017-10-15 20:20] #84 closed

[2017-10-15 20:23] jklundell commented on #84
I have done so, finding the cure worse than the disease. Thanks.

[2017-11-21 15:34] Cyberek opened #85 "Compatibility with Version 11.0 (3445.1.7)"
Hi.

I have tried to manually add new Mail UUID to Plist.info, but it seems it doesn't allow to enable QuoteFix to work:
`<string>C86CD990-4660-4E36-8CDA-7454DEB2E199</string>`
I got the UUID by executing:
`defaults read /Applications/Mail.app/Contents/Info PluginCompatibilityUUID`

Anybody have an idea how to make quote fix work with latest High Sierra MacOS?

[2017-11-21 17:32] robertklep commented on #85
Are you using the [2.9.0-alpha.1](https://github.com/robertklep/quotefixformac/releases/tag/v2.9.0-alpha.1)? That version includes that particular UUID ([here](https://github.com/robertklep/quotefixformac/blob/high-sierra-support/setup.py#L118-L121)).

[2017-11-21 19:49] Cyberek commented on #85
Thanks @robertklep - now I see my problem, I didn't know, that there is 2.9 release (its under 2.8.2 and 2.8.1 versions in "releases" section).

[2017-11-21 19:49] #85 closed

[2017-11-21 19:58] robertklep commented on #85
That's partly my fault, I should probably release a proper 2.9.0 :)

[2018-01-15 23:21] terrypl opened #86 "new Quotefix version for High Sierra?"
Will Quotefix be updated to work with High Sierra (Mac OS 10.13)?

[2018-01-16 01:58] Spoekenkieker commented on #86
On 2018-01-16 at 00:21, terrypl <notifications@github.com> wrote with subject “[robertklep/quotefixformac] new Quotefix version for High Sierra? (#86)”:

The pre-release 2.9.0-alpha.1 works fine for me: https://github.com/robertklep/quotefixformac/releases/tag/v2.9.0-alpha.1

Regards, Tom

--
Thomas Rohde
Wiesenkamp 12, 29646 Bispingen, GERMANY
------------------------------
tom@bonobo.com

[2018-01-16 02:56] alvarnell commented on #86
It's been working fine for me for several months now. What version are you using?

[2018-01-16 13:44] terrypl commented on #86
I tried version 2.8.2, couldn't find any newer version. I ended up using the MailPLuginFix app to convert the 2.8.2 version so it would work. Weird solution, but it's working now.

[2018-01-16 13:46] robertklep commented on #86
The latest release is mentioned here: https://github.com/robertklep/quotefixformac#latest-releases

Because it's not an "official" release it doesn't show up in the built-in updater of the plugin (from within Mail), which may be what has caused the confusion.

[2018-01-16 14:03] terrypl commented on #86
Thank you!

[2018-04-09 12:57] marcscholl opened #87 "double signature in forwarded mails"
I have the problem that forwarded mails get my signature appended twice when quote fixing is enabled.

I have multiple signatures in apple mail (one for each of multiple mail accounts), therefore I see a drop-down signature selector in the right above the mail text. When quotefixing for forwards is ON, my signature gets appended in the message pane, however the signature selector says "no signatur

[2018-04-09 13:03] robertklep commented on #87
That's uhm interesting, especially since it only happens with Forwards and not with Reply/Reply-All (I don't think QF handles signatures differently depending on the type).

Do you use other Mail plugins?

[2018-04-09 13:12] marcscholl commented on #87
Yes, I do. I’ve removed them to check: makes no difference.

I’ve enabled X.509 signing by default, disabling that is a bit more effort, hence I’ve not yet checked that…

	—Marc

On Mon, Apr 09, 2018 at 15:03h, Robert Klep <notifications@github.com> wrote (with possible deletions):

--
  | Prof. Dr. Marc H. Scholl
  |
  |      Universitaet Konstanz
  |      FB Informatik & Informationswissenschaft

[2018-04-09 13:16] robertklep commented on #87
What I find strange is _'When I hit "send", a signature gets appended anyway'_, which sounds like there might be another plugin inserting a signature (if there was, it might be some sort of interaction between that plugin and QF).

QF only removes signatures, and only from messages you received. It doesn't insert signatures itself, nor does it have any code that hooks into the signature-generating

[2018-04-09 13:41] marcscholl commented on #87
Puzzling, indeed.

Tried the following:

1. removed QF plugin: everything works as expected.

2. with QF plugin again: second copy of signature is actually added when I hit return after entering the first recipient, not upon „send“. This occurs with only 1 out of 3 accounts.

3. removed signature from Apple mail for the flawed account. Added one again. Same faulty behaviour as before.

Would turni

[2018-04-09 13:52] robertklep commented on #87
Enabling debug logging might provide a clue. The log ends up in the system log, which you can access through the Console application.

[2018-04-09 13:57] marcscholl commented on #87
All I see in system.log when searching for „quotefix“ is

doesn’t look like big insight.

On Mon, Apr 09, 2018 at 15:52h, Robert Klep <notifications@github.com> wrote (with possible deletions):

[2018-04-09 13:59] robertklep commented on #87
It logs more, but not all log lines are prefixed with "QuoteFix".

[2018-04-09 14:06] marcscholl commented on #87
OK, here is some more:

On Mon, Apr 09, 2018 at 15:59h, Robert Klep <notifications@github.com> wrote (with possible deletions):

--
  | Prof. Dr. Marc H. Scholl
  |
  |      Universitaet Konstanz
  |      D-78457 Konstanz, Germany
  |      Tel: +49 (0)7531/88-4432, Fax: +49 (0)7531/88-3577
  |      https://dbis.uni-konstanz.de

[2018-04-09 14:15] robertklep commented on #87
Thanks.

Sadly, it doesn't really provide any clues (I assume that you also tested with MailFollowUp moved out of ~/Library/Mail/Bundles/).

All I can say is try to disable/enable some options in QF (customized attributions, various Quotefixing settings) to see if there's a magic bullet.

[2018-04-09 14:33] marcscholl commented on #87
Robert,

apparently it is to do with the concrete form of the signature. I don’t know what’s causing the trouble, but with a simplified version as included with this mail, the problem is gone. It’s not the „|“s per se, neither the „&“ nor blanks or some such at the beginning of lines, I’m tired of experimenting for today. Should I find out later, I’ll let you know.

Best
	—Marc

On Mon, Apr 09, 20

[2018-05-02 13:47] defrilitus opened #88 "Complete List of QuoteFix Variables"
Where is it possible to find an exhaustive list of variables that can be used with QuoteFix?
Also, more specifically, is there a variable for the Reply-to field?
Thanks in advance!

[2018-05-02 13:53] robertklep commented on #88
I think the list in the "READ-ME.html" file (in a release ZIP) is the best place to look (aside from the sourcecode ;D).

The `Reply-To` isn't exposed, I'm afraid.

[2018-05-02 14:05] defrilitus commented on #88
I saw the list in the Read-Me file; but, since it specifically says that that it's non-exhaustive, I was interested to know what other variables were available.

[2018-05-02 14:29] robertklep commented on #88
I think the only undocumented field is `sender`.

[2018-09-23 03:39] ykhemka opened #89 "QuoteFix for Mac Mojave 10.14"
Hello,

Please advise when would the updates be available for macOS Mojave 10.14.

[2018-09-23 07:08] robertklep commented on #89
To be honest: no idea.

Due to time constraints I haven't worked on Mojave-support at all, so once Mojave is released I will try and get it work ASAP. However, I've heard from other Mail plugin developers that it might not be trivial to get it working due to additional security measures imposed by Mojave.

[2018-09-23 13:51] ykhemka commented on #89
Hello,

Thank you for your prompt reply.
I understand and hope that you continue with the new release.

Best regards,
Yash Khemka

Sent from my iPhone

On 23-Sep-2018, at 12:38 PM, Robert Klep <notifications@github.com> wrote:

To be honest: no idea.

Due to time constraints I haven't worked on Mojave-support at all, so once Mojave is released I will try and get it work ASAP. However, I've heard f

[2018-09-30 18:32] robertklep commented on #89
A part of what QuoteFix does, namely reformatting/cleaning up the message, could probably be implemented by means of a Mail rule that would match every new mail and run an (Apple)script on it, although I've never really tried that myself.

As for cursor placement (below the original message), that's really something that has to be done from Mail (or a plugin) itself.

[2018-09-30 18:39] alexlevitskycom commented on #89
Thank you for your comment!

Maybe I'm wrong, but I have a feeling that the implementation of bottom posting using Apple Mail rules or Apple Automator scripting (which I have no idea how to implement), under quoted (original) message — is the only logical continuation of the tremendous QuoteFix & best decision in situation while QuoteFix doesn't work at Mojave (I hope that temporarily and the task

[2018-09-30 19:39] jklundell commented on #89
It's worth noting that a big part of QF's charm is that it piggybacks on the existing ⌘R and ⇧⌘R, along with their toolbar equivalents.  I can imagine a script of some sort that, once a top-posted reply was invoked, would select it, edit it, and replace it. And such a script might be better than doing it manually, but not nearly so compelling.

[2018-10-03 17:52] jklundell commented on #89
This seems like a promising sign: https://gpgtools.tenderapp.com/kb/gpgmail-faq/enable-gpg-mail-on-macos-1014-mojave

[2018-10-03 17:53] archodessa commented on #89
If anybody tried? QuoteFix works at Mojave now?

[2018-10-03 17:54] robertklep commented on #89
If only it was that easy 😞 It's not just allowing the plugin to load or adding the correct UUID, the plugin crashes almost immediately because of changes made to Mail.

[2018-10-03 17:56] jklundell commented on #89
Yeah. I'm _not_ suggesting that it's as simple a matter as enabling QuoteFix, just that Mail plugins are at least not ruled out in Mojave.

[2018-10-04 20:07] dnblankedelman commented on #89
I know this is not even in the same league as my much mourned QuoteFix, but perhaps as a terrible stopgap: https://daringfireball.net/2007/07/non_top_posting_scripts .

I have not been able to bring myself to try it, but wanted to report on something I found while looking to see if anyone else has done anything even remotely as amazing as Robert's work on his plugin.

[2018-10-09 07:39] mgguinne commented on #89
@dnblankedelman I have been thinking there might be a way to create an AppleScript to do this instead of QF (will not be anywhere as good though), the script you gave is a good start but I wonder how to copy the email name and insert it? Maybe someone has already done this and I just should search myself...

[2018-10-22 16:04] jimklo commented on #89
It seems like Apple now must have somewhat honest to goodness support for Plug-ins in Mojave, given there is now a "Manage Plug-ins..." Button and interface on the General Preferences tab of Mojave Mail.  MailHub recently added functional support, so I'm hoping there is at least a better path forward for the Mail plug-in society.

[2018-11-12 17:12] lbstoller opened #90 "High Sierra Problem"
Hi, I've been using Quotefix for years, finally got around to updating my Mac from Sierra to High Sierra. I downloaded 2.9 and replaced the bundle, Mail does not complain when it starts. But quote fixing no longer appears to work, I still the Apple Mail indentation. The Quotefix preferences all look okay, I toggled them to make sure, but no change.

Just wondering if anyone has seen this? Maybe a

[2018-11-13 08:12] robertklep commented on #90
I'm not running High Sierra anymore, but I used QF myself on it extensively, and it worked acceptably. Not sure why specifically the quote fixing isn't working.

[2018-11-14 22:59] defrilitus commented on #89
[Reply With Header](https://myjeeva.com/replywithheader) seems like it could be a stop-gap solution until QuoteFix can be updated. Certainly not as good, but better than nothing.

[2018-11-14 23:42] glgray commented on #89
Which setting in RWH mimics QuoteFix's top-quoting behavior? I am not seeing it.

[2018-11-14 23:51] defrilitus commented on #89
I used QuoteFix only for the extensive reply-header options. Sorry.

[2018-11-15 01:50] gravesit commented on #89
I was able to get QuoteFix to work in Mojave by adding the following to Info.plist within the QuoteFix.mailbundle by right clicking on the bundle and "Show Package Contents":

[code]

Modified the install script from [ReplyWithHeader](https://myjeeva.com/replywithheader) to work for installing QuoteFix by changing "ReplyWithHeader" to "QuoteFix" and running the script from the `QuoteFix-v2.9.0` di

[2018-11-15 02:03] defrilitus commented on #89
Works perfectly! Thank you ever so much :-)

[2018-11-15 06:51] dnblankedelman commented on #89
@gravesit That sounds very promising.

Back in Oct, @robertklep said "the plugin crashes almost immediately because of changes made to Mail." Are you not seeing that behavior any more?

[2018-11-15 07:15] robertklep commented on #89
Yeah, I'm interested too! 😄

[2018-11-15 14:21] gravesit commented on #89
@dnblankedelman Been 24 hours with mail open and zero issues using the [install method outlined.](https://github.com/robertklep/quotefixformac/issues/89#issuecomment-438886331)

[2018-11-15 15:35] defrilitus commented on #89
I installed the fix manually, but it's working fine all the same. Great news for lovers of this plug-in!

[2018-11-15 22:48] sojuzpl commented on #89
it really works! Thx @gravesit

[2018-11-16 01:16] ykhemka commented on #89
Hello,

I am unable to proceed, can you please send the info.plist file.

[2018-11-16 01:33] defrilitus commented on #89
Here is the whole bundle: QuoteFix 2.9 by @robertklep, including info.plist modifications by @gravesit. Many thanks to both of them 👍

[QuoteFix.mailbundle.zip](https://github.com/robertklep/quotefixformac/files/2587640/QuoteFix.mailbundle.zip)

[2018-11-16 01:39] ykhemka commented on #89
Thank you.

Best regards
Yash Khemka

On Fri, Nov 16, 2018 at 7:03 AM defrilitus <notifications@github.com> wrote:

[2018-11-16 07:55] robertklep commented on #89
I just released [v2.10.0-alpha.1](https://github.com/robertklep/quotefixformac/releases/tag/v2.10.0-alpha.1).

I haven't heard back from the developer of ReplyWithHeader if it's okay to include their install scripts, so I went ahead and included them for the time being.

Please let me know (thumb-up this comment) if the installation process works okay, so I can do a proper stable release.

[2018-11-16 11:16] alexlevitskycom commented on #89
Works perfect.

[2018-11-16 13:39] dnblankedelman commented on #89
@robertklep related aside (since I tried this before your release, hence not being a direct thumbs up): I did a manual update of the plugin using the info the ReplyWithHeader shell script (ultimately just a cp command plus permission fixes). Before I could do that, I had to grant Terminal Full Disk Access. I do not know whether or not shell scripts individually need to be given that permission, bu

[2018-11-16 13:41] robertklep commented on #89
@dnblankedelman yeah, you need to grant Terminal those rights :) In my release, it's documented in the accompanying README file on how to do that.

[2018-11-16 13:42] dnblankedelman commented on #89
Ah, you rock (as usual).

[2018-11-17 13:43] jklundell commented on #89
a1 worked fine as upgrade, except the last message 'Follow the "Step 3" from "Install-Instructions-Mojave-OS-and-Above.txt' needs revision.

[2018-11-17 15:39] robertklep commented on #89
@jklundell oops, cut&pasted a bit too much ;) thanks!

[2018-11-30 22:24] alexlevitskycom commented on #89
Apple Mail restarts ofter after clicking on reply, with the last update for Mojave.
<img width="545" alt="screen shot 2018-12-01 at 00 23 20" src="https://user-images.githubusercontent.com/8191360/49317969-5eda4200-f4ff-11e8-9bda-c249975073d7.png">

And shows this message.
<img width="545" alt="screen shot 2018-12-01 at 00 17 32" src="https://user-images.githubusercontent.com/8191360/49317971-61d5

[2018-12-01 07:54] robertklep commented on #89
@alexlevitskycom I assume that the plugin is causing Mail to crash. As for the reason, I have no idea without more information. You could fire up the Console app to try and find out if any reason is being logged what is causing the crash.

[2018-12-03 05:32] mgguinne commented on #89
I have the same issue, sorry this was happening when you first released it and just did not worry (thought it was just me), though now someone else is having the same issue it would be nice to know how to fix.

However, I just went to send you some logs, I enabled it got the error message (forgot to get the crash log as mail reopened). I then went back in and enabled it again in mail, let it resta

[2018-12-03 11:27] archodessa commented on #89
After mac resetting, the plugin is unchecked at Mail plugin manager, usually.

[2018-12-03 12:39] ykhemka commented on #89
You would to check the same and also grant full access through privacy.

Best regards,
Yash Khemka

Sent from my iPhone

On 03-Dec-2018, at 4:57 PM, Architecture of Odessa <notifications@github.com> wrote:

After mac resetting, the plugin is unchecked at Mail plugin manager, usually.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute

[2018-12-08 04:17] ykhemka opened #91 "Mojave Mac Mail Crashing"
Hello, when I click preferences on Mac mail, the mail crashes and closed itself and an error box pops up with details which is attached. please assist.
[Crash.pdf](https://github.com/robertklep/quotefixformac/files/2659398/Crash.pdf)

[2018-12-08 08:34] robertklep commented on #91
Since you're also using other plugins, it might be an bad interaction between QF and those plugins. Try temporarily removing/disabling the other plugins to see if that solves the problem.

[2018-12-09 01:21] ykhemka commented on #91
Hello,

I have tried to disable the other plugins, but no success. Attached is the
screenshot and it is not showing QF is enabled as it was showing before.

Best regards
Yash Khemka

On Sat, Dec 8, 2018 at 2:04 PM Robert Klep <notifications@github.com> wrote:

[2018-12-09 07:25] robertklep commented on #91
I don't see an attachment :)

For some reason, the QuoteFix plugin may get disabled in the Mail general settings, typically after a reboot. It happened to me as well, once. I have no idea why.

[2018-12-09 07:36] ykhemka commented on #91
If I have your email address I can send again. I had updated to Mojave 10.4.2and after that this problem started. So what do I do ?

Best regards,
Yash Khemka

Sent from my iPhone

On 09-Dec-2018, at 12:55 PM, Robert Klep <notifications@github.com> wrote:

I don't see an attachment :)

For some reason, the QuoteFix plugin may get disabled in the Mail general settings, typically after a reboot. It

[2018-12-09 07:46] robertklep commented on #91
My e-mail address is robert AT klep DOT name.

[2018-12-11 03:46] defrilitus commented on #89
@ykhemka Could you please explain what you mean by "grant full access through privacy"? If you mean QuoteFix, I see no way to do it (Security & Privacy settings in System Preferences are for apps only).
I am having the same problem as @archodessa: every time I close and restart Mail (or my Mac, I'm not sure which), the plugin is unchecked in Mail Plugin Manager.

[2018-12-11 04:02] ykhemka commented on #89
Hello,

I am facing the same problem as of now and had to uninstall the QuoteFix.

Best regards
Yash Khemka

On Tue, Dec 11, 2018 at 9:16 AM defrilitus <notifications@github.com> wrote:

[2018-12-11 07:24] robertklep commented on #89
@defrilitus I think they meant "grant full disk access to the Mail app".

Like I said, I had the issue of QF being disabled after a reboot, but it doesn't get disabled when restarting Mail (I did set the Full Disk Access after the reboot, and haven't rebooted since, so can't comment if that is the reason why it's working for me between restarts of Mail).

[2018-12-11 22:22] defrilitus commented on #89
@robertklep QF is indeed being disabled after a reboot, but not after restarting the Mail app. For the moment, it seems that granting the Mail app FDA fixes the bug. I'll do some further testing this week to check if FDA is "the" solution here.

[2018-12-14 15:35] defrilitus commented on #89
@robertklep After a couple of days of testing, it seems that granting the Mail app full disk access does prevent QuoteFix from being automatically disabled. The only exception, of course, is when macOS (and thus the Mail app) is updated to a new version, but that is to be expected. Maybe a note suggesting enabling FDA for the Mail app should be in the installation instructions?

[2018-12-19 17:53] reekes opened #92 "Crashes with Mojave"
I've got 2.10.0-alpha.1 installed, with no other plugins installed. I'm getting a consistent crash after opening an email and getting attachments. Then Cmd-n to create a new email. That has crashed three times this morning. First time I've seen crashes in the years of using QuoteFix.

Dec 19 08:20:47 Sofa Mail[3245]: unable to retrieve message body to remove attachment placeholders
Dec 19 09:42:08

[2018-12-19 21:33] robertklep commented on #92
Try disabling the "Remove attachment placeholders" setting.

[2018-12-26 19:13] reekes commented on #92
Did that, and that specific case seems to be OK now. But this morning I've had six random crashes. I've disabled QuoteFix for now, as I'm trying to get a much of emailing done.

What can I provide to help determine the problem?

[2018-12-26 19:19] reekes commented on #92
Here's one of the crashes

Process:               Mail [304]
Path:                  /Applications/Mail.app/Contents/MacOS/Mail
Identifier:            com.apple.mail
Build Info:            Mail-3445102003000000~1
Responsible:           Mail [304]
4   com.apple.mail                	0x0000000105abf9b4 0x105a67000 + 362932
5   com.apple.mail                	0x0000000105ad1196 0x105a67000 + 434582
9

[2018-12-26 19:19] reekes commented on #92
Another one a few minutes later

Process:               Mail [1129]
Path:                  /Applications/Mail.app/Contents/MacOS/Mail
Identifier:            com.apple.mail
Build Info:            Mail-3445102003000000~1
Responsible:           Mail [1129]
4   com.apple.mail                	0x000000010d15a9b4 0x10d102000 + 362932
5   com.apple.mail                	0x000000010d16c196 0x10d102000 + 434

[2018-12-26 19:20] reekes commented on #92
Then a third one

Process:               Mail [1162]
Path:                  /Applications/Mail.app/Contents/MacOS/Mail
Identifier:            com.apple.mail
Build Info:            Mail-3445102003000000~1
Responsible:           Mail [1162]
PlugIn Path:             /Users/USER/Library/Containers/com.apple.mail/*/_objc.so
4   com.apple.mail                	0x000000010a2869b4 0x10a22e000 + 362932
5

[2018-12-26 19:30] robertklep commented on #92
Thanks for posting those.

Sadly, I can't find any clues as to why these crashes occur. Can you enable "Debugging" (in the Advanced preferences) and see what the last line is that is being logged by QF before Mail crashes?

[2019-01-09 00:06] mgguinne commented on #89
I got this to work, I was having issues with the preferences not coming up once added (mail hanging). Once I gave Mail app full disk access, no further issues.

Thanks for this @robertklep , it's really appreciated.

[2019-02-12 00:27] reekes commented on #92
Things were mostly good during Jan. Now for the past couple weeks I'm getting a lot of crashes. Typically it's at the moment I choose New message or Reply.

The last crash only showed this. There was no log output from QuoteFix. This was when I choose New message via a keyboard command.

Feb 11 16:19:40 Sofa Mail[4081]: [ComposeViewController show]
Feb 11 16:19:41 Sofa Mail[4081]: [ComposeViewCont

[2019-02-12 07:26] robertklep commented on #92
Absolutely no idea how this can happen, `SIGTRAP` is a debugger signal (unrelated to the setting "Debugging" in the QF preferences, that only enables some extra logging) that shouldn't be generated when running processes "normally". Very strange.

[2019-02-12 15:41] reekes commented on #92
Yes, very strange. It just happened again this morning with my first reply. I don't see QuoteFix in the call chain. Here's a portion of what I see. Looks like a debugger call in WebCore.

Process:               Mail [4643]
Path:                  /Applications/Mail.app/Contents/MacOS/Mail
Identifier:            com.apple.mail
Version:               12.2 (3445.102.3)
Build Info:            Mail-3445

[2019-03-29 16:33] reekes opened #93 "10.14.4"
After the MacOS 10.14.4 update, Apple Mail 12.4 has tagged the plugin as incompatible.

[2019-03-29 16:37] jklundell commented on #93
Curious. Works for me™. (I did have to reenable it in preferences.)

[2019-03-29 17:28] reekes commented on #93
D'oh! I'm an idiot. I clicked on the wrong checkbox and got an error message for a different plugin.

"Never mind." - Emily Litella

[2019-03-29 17:28] #93 closed, assigned to nobody

[2019-03-29 17:29] reekes commented on #93
user error, works as expected

[2019-03-30 23:06] freultwah commented on #92
I concur. Precisely the same symptoms here, both before and after a clean install on a brand new SSD (ruling out potential bit rot). Haven't tried with 10.14.4 yet, but Mail.app crashed quite reliably with 10.14.3 with QuoteFix enabled.

[2019-04-30 01:18] reekes commented on #92
I'm back to daily crashes. I had up to four crashes in a day. Here's a piece from the Console below. Something is calling the debugger, and ending up in WTFCrashWithInfo().

I disabled QuoteFix for a few days, and the crashes stopped. Re-enabled it this morning and had a few a few hours later.

I wasn't interacting with Mail. It was hidden in the background.

[code]

[2019-04-30 07:28] robertklep commented on #92
Weird, because QF doesn't do anything when you're not interacting with Mail (although I've never tested it in combination with Mail rules that reply to or forward mails; do you have any of those?).

Apart from Mail disabling QF regularly (so I have to enable it again), I don't have much issue with it myself on Mojave.

[2019-04-30 14:03] reekes commented on #92
I have no auto-reply rules. About half of the crashes are when I do reply, but the other half are when Mail is doing own thing in the background.

[2019-04-30 14:32] robertklep commented on #92
Do you use any other Mail plugins besides QF?

[2019-04-30 15:12] reekes commented on #92
Nope, no other plugins. I have no idea why Mail keeps crashing. I'm getting too many inexplicable things, and considering a new clean install of the MacOS. It will take me several days to manually re-configure a new system.

[2019-04-30 19:45] reekes commented on #92
Ah...this looks like what's hitting me
https://trac.webkit.org/changeset/244459/webkit

[2019-05-01 07:39] robertklep commented on #92
Have you tried disabling settings to see if there's one that will stop Mail from crashing?

I can't really suggest which ones to look at first because, like I said, I don't understand how Mail is crashing when it's in the background (and QF isn't doing anything), but try disabling custom attributions first.

[2019-05-01 20:52] reekes commented on #92
I'm pretty sure it's the bug in Webkit I happen to be triggering. It just so happens to occur more often with QuoteFix, but it's an Apple bug. I did try various settings in QuoteFix, but it always crashed. The fact that it also crashes in the background is confirmation this is Apple's bug.
https://trac.webkit.org/changeset/244459/webkit

[2019-09-01 12:31] dougrock opened #94 "will new version be released for macOS Catalina"

[2019-09-01 12:35] robertklep commented on #94
Perhaps 😅 It will depend on how much effort it's going to take to get it working on Catalina. Since I don't typically install beta's, I'll only be able to look at it when Catalina is officially released and I have installed it.

[2019-10-10 21:12] Gruntfuggly commented on #94
Would love to see this working with Catalina...

[2019-10-11 06:59] robertklep commented on #94
It will probably be quite a while before I upgrade to Catalina, given that I don't see any upside of using it (and a lot of downsides 😕)

[2019-12-26 02:26] reekes commented on #94
I'm not a fan of Catalina, and can't give any reason to upgrade. But one of my Macs is on Catalina, and I miss using QuoteFix.

[2020-01-07 10:18] Rogue-Git-Dev commented on #94
I second this notion to make Quote Fix compatible. I am using the latest public beta build of Catalina and just attempted to enable the plugin with the Mail 13.0 incompatible dialogue. This is possibly the sole plugin that will make Mail tolerable; I have used MailMate for years but need to use Mail to circumvent a system that disabled IMAP.

[2020-03-03 14:19] herbs commented on #94
I'll add another plead for Catalina compatibility!

[2020-03-09 11:18] alxmueller commented on #94
Missing support for Catalina is actually the only thing that keeps me from upgrading.  That's how important QuoteFix is to me.  Compatibility with Catalina would be highly appreciated.

[2020-04-09 20:12] defrilitus commented on #94
Same here. QuoteFix is the only thing reason I haven't upgraded. If you have the time, Catalina compatability would be great.

[2020-04-10 05:50] robertklep commented on #94
@defrilitus it's not a question of time, it's a question of me not running Catalina 😬

[2020-04-15 13:25] defrilitus commented on #94
@robertklep Thanks for your reply. I understand perfectly ;-)

[2020-05-14 16:41] goranmoomin commented on #94
So, if anyone is interested, you can just add the macOS 10.15 compatibility UUID to the current Mojave mailbundle (which unfortunately I can't get it to build and work on my machine) to make it work. Looks like nothing breaks here. If you trust me, you can just use this binary:
[QuoteFix.mailbundle.zip](https://github.com/robertklep/quotefixformac/files/4628556/QuoteFix.mailbundle.zip)

If you don

[2020-05-14 16:46] goranmoomin commented on #94
BTW, @robertklep Do you know why it doesn't build on my machine? If I use my system python2.7, it crashes with this log:

<details>
<summary>Click to expand the log: </summary>

[code]
<details>

And when I try to build it in a venv, it errors because it apparently doesn't copy `Sparkle.framework`'s symlinks? I'm not sure why that happens...

[2020-05-14 18:41] robertklep commented on #94
@pcr910303 system python never worked for me, I use(d) a Homebrew-installed 2.7 (plus virtualenv) to build.

I'll try and see if I can push a new release with your proposed UUID fix. I had assumed that it wouldn't be _this_ easy (in which case [MailPluginFix](https://code2k.net/products/mailpluginfix/) might also work for those who don't want to mess around with Terminal).

[2020-05-14 18:49] robertklep commented on #94
Just pushed a new release with the Catalina UUID added: https://github.com/robertklep/quotefixformac/releases/tag/v2.11.0-alpha.1

[2020-05-14 19:07] jklundell commented on #94
So far so good (install via script, reply to one easy email). 10.15.4.

[2020-05-14 19:07] Gruntfuggly commented on #94
Working for me - thanks both of you! Had to re-enable the plugin in Mail preferences, but after that it's all good. I can start replying to emails in the correct place. 😁

[2020-05-15 00:02] fahirsch commented on #94
Thanks for the new version. I miss it!
Using Catalina 10.15.4
Tried the install command, did nothing.
Manually installed QuoteFix.mailbundle.
No trouble writing the settings I have used previously in Reply, Reply all, Forward
 <El ${message.sent.strftime("%d/%m/%Y' a las '%H:%M Z")}, ${message.from.name} escribió:>
 <On ${message.sent.strftime("%m/%d/%Y' at '%I:%M' '%p Z", 'en-EN')}, ${message.fro

[2020-05-15 11:51] daftano commented on #94
In my case (Catalina 10.15.4) , installation went through, but after restarting Mail the plugin window (from Mail settings) doesn't open.
Removing the extension restore the plugin configuration window

[2020-05-15 12:15] dougrock commented on #94
getting the same error message - tried uninstall and reinstall - still same error

[2020-05-15 13:42] robertklep commented on #94
@dougrock it's likely not everything works. Since @fahirsch has the same issue, my guess is that custom attribution isn't working.

Since I don't run Catalina myself, I can't fix this at the moment.

[2020-07-06 10:26] dsedivec commented on #94
EDIT: I did not see QuoteFix do anything, it just locks up.  I'm pretty sure I'm asking the future to resolve itself on the same thread where the future would normally be computed.  First guess, then, is that QuoteFix is no longer hooking in at the right point?  Either that or I need to... spawn a thread?

I'm *way* out of my depth here—first time ever running class-dump tonight—but it looks to me

[2020-07-06 23:42] dsedivec commented on #94
I have made [a small change to `fixer.py`][1] that does not immediately crash, and even modifies the message as I expect, to my great surprise.  I'll test drive this for a week or two, and if it seems stable, and no one who *actually understands Objective-C and PyObjC* wants to call me out on my mistakes, I can probably clean this up and submit a PR.  Someone can ping me if I forget and you care.

[2020-07-07 05:44] robertklep commented on #94
@dsedivec thanks for your efforts! I only have limited ability to test, given that I'm not on Catalina, but my goal would be to keep it compatible with older versions of macOS as well.

Once you give the all-clear, I'll try and add backward compatibility and release an alpha version for others to test.

[2020-07-07 05:59] dsedivec commented on #94
Thank *you* for maintaining QuoteFix all these years.  I want backwards compatibility too, and I... *think* it'd be easy to detect which selector is present and behave accordingly (as opposed to just hinging directly off version number).  I've got Mojave here that needs to keep working, in addition to (sadly) Catalina.

I just did 0.1 imperial tonnes of email replies tonight on Catalina, and Mail.

[2020-07-10 21:58] dsedivec commented on #94
I've been using my previous fix all week on Catalina, and it's been working fine, so I went ahead and cleaned my code up.  I mean, it's not at all beautiful, but I think it's better, and more importantly it should be backwards compatible now.  [My clone of this repo][1] has the updated code.  I just *very briefly* did successful tests of this version under Catalina, Mojave, and High Sierra by hitt

[2020-07-30 06:15] robertklep commented on #94
@dsedivec apologies for not getting back to you sooner. If you issue a PR, I will merge it and build a test-release for you (and others) to try out 👍🏻

[2020-08-12 12:14] robertklep commented on #94
Released [v2.11.0-alpha.2](https://github.com/robertklep/quotefixformac/releases/tag/v2.11.0-alpha.2) with better Catalina support, thanks to @dsedivec!

[2020-08-12 14:14] fahirsch commented on #94
The QuoteFix plug-in caught an exception:

Traceback (most recent call last):
  File "/Users/francisco/Library/Containers/com.apple.mail/Data/DataVaults/MailBundles/Users/francisco/Library/Mail/Bundles/QuoteFix.mailbundle/Contents/Resources/lib/python2.7/quotefix/fixer.py", line 90, in fix
AttributeError: 'NSKVONotifying_ComposeBackEndWK1' object has no attribute 'message'

Please contact the deve

[2020-08-12 16:35] robertklep commented on #94
@fahirsch thanks for testing!
@dsedivec did I break something?

[2020-08-12 16:45] jklundell commented on #94
The same crash was reported on May 15, above.

[2020-08-12 20:42] dsedivec commented on #94
Yeah, line 90 of the Catalina branch is a blank line, so I think @fahirsch is probably running a previous release.  fahirsch, try installing [v2.11.0-alpha.2](https://github.com/robertklep/quotefixformac/releases/tag/v2.11.0-alpha.2) per [robertklep's comment above](https://github.com/robertklep/quotefixformac/issues/94#issuecomment-672834322).

[2020-08-13 12:14] fahirsch commented on #94
Deleted manually (I had not seen the uninstall command, tried installing several times, lots of error messages, finally moved QuoteFix manually to the Bundles folder.
It works, as you can see below.
Using Catalina 19.15.6 and yesterdays supplemental update.
Thanks!
Saludos,
Francisco
--
Lic. Francisco A. Hirsch
https://www.fiscaldemesa.com.ar <https://www.fiscaldemesa.com.ar/>
Twitter: https://twi

[2020-08-13 16:04] jklundell commented on #94
Not to belabor the obvious, but do ensure that Terminal has Full Disk Access enabled in the Privacy tab of the Security & Privacy panel in System Preferences.

[2020-08-17 13:53] GHubbler commented on #94
I'm very glad, that QuoteFix is back. 😊
Works great so far on Catalina 10.15.6 with supplemental update. Just noted a little bug:
${message.subject} will not get the according subject.
Instead it will output 3-5 random like character, like: "fab6"

[2020-08-22 09:38] LitoFrame commented on #94
I have the same bug like GHubbler.

[2020-08-22 09:40] robertklep commented on #94
@GHubbler @LitoFrame looks like it's showing a pointer address instead of the data it's pointing to. It's these kinds of issues that I can't fix without having to actually install Catalina :(

[2020-11-16 21:53] GHubbler opened #96 "Will new version be released for macOS Big Sur"
macOS Big Sur is out. So I'd like to ask, if there's any hope or plans to support it.

[2020-11-16 21:55] GHubbler commented on #94
Just started a new issue #96 to move forward to Big Sur. ;)

[2020-11-17 07:08] robertklep commented on #96
I was actually considering installing Big Sur, after having skipped Catalina, but I keep reading about BS bricking Late 2013 MBP's, which I happen to have. So not feeling very confident about upgrading right now 😬

[2020-11-17 15:47] macjeff commented on #96
I would love to have this for Big Sur too.  If you are not going to update I will trash the plugin but for now the old version is waiting for an update!!!

[2020-12-26 16:27] herbs commented on #96
An update to Big Sur would be highly appreciated at this end.

[2021-01-06 09:52] jiho opened #97 "${message.subject} does not output the actual email subject"
When using ${message.subject} in a custom Forward attribution (on Catalina, Mail Version 13.4 (3608.120.23.2.4)), the actual subject is garbled in the forwarded email.

[code]

When the subject should have been "Nouvelle année".

PS: names and emails obfuscated of course.

[2021-01-06 10:00] robertklep commented on #97
Yes, I believe this is a known issue with Catalina (and probably Big Sur). I'm still running Mojave so can't debug or fix :(

[2021-01-06 10:08] jiho commented on #97
OK. Thanks for the fast reply!
Happy to help in any way I can. I have XCode command line tools installed but not the full developer tools. I do a fair bit of Python and other similar stuff but know next to nothing about ObjC.
I could run a version with debugging info activated if you provide me with one and send you a trace/log.

[2021-01-06 11:16] robertklep commented on #97
@jiho to be honest, I have no idea where to start looking 🥴 the value looks like a pointer value of some sorts.

[2021-02-21 20:11] jlkane opened #98 "macOS Mojave Security Update 2021-002 Kills QuoteFix"
I was happily running QuoteFix on Mojave until today, when I installed macOS Mojave Security Update 2021-002 and Safari 14.0.3.  I went through the usual song-and-dance routine of adding the UUID string to the Info.plist, but... no joy.

Any further recommendation? ...or did this security update really, truly, sincerely kill QuoteFix?

Sadly,
Jim

[2021-02-22 07:52] robertklep commented on #98
Take a look at your device log using the Console app. When Mail starts, info may get logged on why QF isn't being loaded.

Did you (re-)enable the plugin from Mail's preferences?

[2021-02-22 15:33] jlkane commented on #98
Holy cow, I AM an idiot!  I got the harder parts right and blew the easy step -- re-enabling the plugin!  I am SO sorry for consuming your limited bandwidth with this conversation, but I'm grateful for your support and your continued support of this much-valued plugin!

All the best,
Jim

[2021-02-22 15:37] robertklep commented on #98
No worries, easy mistake to make! 😅 You'd think that Mail would remember that you had QF enabled to begin with (for me, it regularly disables QF for no apparent reason whatsoever…)

[2021-02-22 15:37] #98 closed, assigned to nobody

[2021-02-26 15:52] Jmuccigr commented on #94
So what's the latest version for Catalina? 2.11.0 a2 is what I have now.

PS I'm having an issue where my MBP crashes when closed or sitting idle overnight and when that happens, QuoteFix gets unchecked in Mail prefs.

[2021-02-26 15:54] robertklep commented on #94
@Jmuccigr 2.11.0-alpha.2 is the latest for Catalina.

Mail unchecking QF happens all the time for me (on Mojave), not even after crashes, just quitting Mail will sometimes be enough.

[2021-02-26 16:34] defrilitus commented on #94
@robertklep I'm still on Mojave too and I'd also noticed that Mail unchecks QF quite regularly; I was wondering if there was a fix, but—since it also happens to you—I imagine that there isn't.

[2021-02-26 17:53] robertklep commented on #94
@defrilitus I don't _think_ it's because of something QF does, but can't be 100% certain. I don't use any other plugins so cannot check if those get disabled as well.

[2021-02-26 18:33] defrilitus commented on #94
The only other plugin that I use is [NoFlaggedMailbox](http://eelco.lempsink.nl/NoFlaggedMailbox.zip), which oddly enough is never disabled by Mail. I'm not sure why that is. I did think of writing an AppleScript to reinstall QF every time that Mail starts, but that's a bit too cumbersome to be practical, and I can't think of another solution :-(

[2021-02-27 03:35] Rogue-Git-Dev commented on #96
I concur with all parties above. This plugin deserves a proper update for Big Sur.

[2021-03-02 21:27] Jmuccigr commented on #94
Data point: I've got MailTrackerBlocker and it doesn't seem to uncheck while QuoteFix does (which happens maybe when I have a crash).

[2021-03-02 21:47] defrilitus commented on #94
Thanks @Jmuccigr for your mention of MailTrackerBlocker; it's new to me, but looks very useful.
Unfortunately, with Apple it's not easy to understand what triggers an action (e.g., unchecking QF, for example, every time my Mac restarts).

[2021-03-03 00:30] dsedivec commented on #94
FWIW, same here on Mojave.  In contrast, Catalina has only disabled it on me maybe a handful of times in the past nine months or so.

Also FWIW, I have two hypotheses (like complete and total guesses) on why it gets disabled: First is due to the additional startup time I see added by enabling QuoteFix.  It's possible that it delays some thread or another (to load Python+PyObjC and then monkey patc

[2021-03-15 15:39] reekes opened #99 "Crashes: System Policy: deny(1) file-read-data"
Started getting crashes this morning. Nothing changed as far as I know, and things have been working fairly smoothly until this morning. Here's the error messages from the Console, followed by the crash report. This is the usual Mail crash, always from within stopAllLoaders().

[code]

[2021-03-15 15:47] robertklep commented on #99
Strange stuff, especially if it was working before. Is QF installed in ~/Library/Mail/Bundles/?

[2021-03-15 15:55] reekes commented on #99
Yup, just like always. The crash in stopAllLoaders() happens about twice a month. Some days it happens multiple times. Then I can go for weeks without a crash. This has been on-going for a couple years. At least half the time QF wasn't involved.

The "deny(1) file-read-data" seems new for me. I don't recall seeing that before.

[2021-03-15 15:59] robertklep commented on #99
`~/Library/Containers/com.apple.mail/Data/DataVaults/` is a weird directory. I found this page which hints at issues that may occur with it: https://smallcubed.com/support/scs/troubleshooting_print (search for _"No access to DataVaults Folder"_).

[2021-06-13 13:16] LwsBtlr commented on #96
The WWDC for 2021 features a session on the new MailKit framework. Based on what I see in there, Bundles are going away and MailKit will be the new way, and at this point it does not appear it allows modifying the compose message, only the compose window.

[2021-08-31 14:10] defrilitus opened #100 "Remove attachment placeholders (<"FILENAME">)"
Hello,

I'm on Catalina and, after recently discovering that ${message.subject} in reply/forward e-mails no longer outputs the actual subject, I have now realised that the option "remove attachment placeholders" no longer works. Even when the option is checked, they appear.

Much as I love QuoteFix (the only thing that makes Apple Mail usable in my opinion), I reckon that it's arrived at the end o

[2021-09-17 17:39] defrilitus opened #101 "Reply Headers and Quote-Fixing on Catalina and Big Sur"
As far as I can see, the only solution to proper headers and quote-fixing on Catalina and Big Sur is to use Outlook. Of course, Outlook is far from perfect—I am not particularly happy with it—but I see no other solution. If anyone can think of an alternative, I'd be more than willing to listen…

[2021-10-03 03:33] dcorbe commented on #96
https://developer.apple.com/documentation/mailkit/memessage

[2021-10-03 03:43] dsedivec commented on #96
Is this the first time Apple has properly documented any of the Mail.app "plug-in" API?  This seems cool.

I think the only opportunity for getting at the raw message body might be `MEComposeSession.mailMessage.rawData`, which purports to be the raw source of the message, headers and body.  I have a bad *feeling* that, in the case of composing a message (as opposed to reading a message), this will

[2021-10-03 03:50] dcorbe commented on #96
Yeah I don't quite understand how that works and which handlers fire when the raw message data is updated.

[2021-10-22 17:40] s22-tech commented on #94
I'm happy to report that version 2.11.0-alpha.2 installed successfully and is working under Catalina 10.15.7.  I've only been using it for the last hour or so, but there have been no problems so far and it remained selected in the prefs even after a reboot.

However, I figured I'd report that there were 2 error/warning messages in the installation log:

`2021-10-22 09:55:23.072 defaults[4196:83295

[2021-11-25 19:55] dcorbe commented on #101
@defrilitus Theres a new mac mail plugin architecture in Monterey.  Someone will come along with an alternative solution some day soon.  It's something I intend to work on when I upgrade but it's also kind of a low priority for me right now.

[2022-02-16 15:50] reekes opened #102 "Moneterey support"
I really miss QuoteFix - it was a simple thing that fixed tedious things I have to do in every reply.

Is there some chance we'll get a new QuoteFix that works with Apple's new Mail Extensions?

[2022-05-16 23:13] jehertzi commented on #99
I'm not sure if it's the exact same issue, but I am trying to do is run a .sh script from cron. Its a simply script that then calls a python script.... Why does this have to be this difficult?